// Scrollbar
html, code[class^="language-"] {
	// Firefox
	scrollbar-width: auto;
	scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

	// Chrome, Edge, and Safari
	&::-webkit-scrollbar {
		width: $scrollbar-webkit-track-width;
	}

	&::-webkit-scrollbar-track {
		background: $scrollbar-track-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $scrollbar-thumb-color;
		border-radius: $scrollbar-webkit-thumb-border-radius;
		border: $scrollbar-webkit-thumb-border-size $scrollbar-webkit-thumb-border-style $scrollbar-track-color;
	}
}

// Link
a {
	text-decoration: none;

	&::before {
		content: '🔗';
		font-size: 0.6rem;
		margin-right: 2px;
		vertical-align: super;
	}

	// :has() pseudo-class not currently supported by default on firefox
	&.noicon::before {
		content: none;
	}

	&:has(img)::before {
		content: none;
	}

	&:link {
		color: $cerulean;
	}

	&:visited {
		color: $dandelion;
	}

	&:hover {
		color: $amethyst;
	}

	&:active {
		color: $fuchsia;
	}
}

// Code blocks
code {
	background-color: $code-light;
	padding: 1px 6px;
	border-radius: $base-border-radius;
	line-break: loose;
	display: inline-block;

	// Language specific
	&[class^="language-"] {
		background-color: $code-dark;
		display: block;
		padding: 12px 16px;
		overflow-x: scroll;

		// Fixes right side padding on scrollable content
		& > span > span {
			padding-right: 16px;
		}
	}
}

div.highlight > pre {
	border-radius: $base-border-radius;
}

// Headers
h1 {
	font-size: $font-size-xxl;
	margin: $header-1-padding;
}
h2 {
	font-size: $font-size-xl;
	margin: $header-2-padding;
}
h3 {
	font-size: $font-size-lg;
	margin: $header-3-padding;
}
h4 {
	font-size: $font-size-md;
	margin: $header-4-padding;
}
h5 {
	font-size: $font-size-sm;
	margin: $header-5-padding;
}
h6 {
	font-size: $font-size-xsm;
	margin: $header-6-padding;
}

header h1 {
	text-align: center;
	font-size: $base-font-size * 2;
	margin: 1.34rem 0;
}

// main
body {
	font-family: sans-serif;
	background: $black;
	color: $white;
	margin: 10px;
	background-image: url("/background.webp");
	background-size: 100%;
	background-repeat: repeat-y;
	image-rendering: pixelated;

	& > * {
		image-rendering: initial;
/*		image-rendering: smooth;
		image-rendering: high-quality;
		image-rendering: optimizequality;*/
	}
}

main, header, footer, nav {
	max-width: 800px;
	margin: auto;
}

// Main
main {

}

// Header
header {

}

// Footer
footer {
	padding: 30px 0 20px;
}

// Nav
nav {
	background-color: #363245;
	padding: 6px 8px;
	border-radius: $base-border-radius;

	#logo {
		height: 50px;

		a {

		}
		img {
			margin: 0 5px;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		a {
			padding: 1px 6px;
			color: $white;

			&::before {
				content: '';
			}

			&:link, &:visited {
				color: inherit;
			}
			&:hover {
				color: $gray-400;
			}
			&:active {
				color: $gray-700;
			}
		}
	}

	li {
		border-left: 1px $gray-700 solid;
		display: inline;

		&:first-child {
			border: none;
		}
	}


}

img {
//	display: block;
	max-width: 100%;
	border-radius: $base-border-radius;
}

figure {
	margin: 16px 32px;
/*	&.half {
		width: 47%;
		display: inline-block;
		margin-left: 1%;
		margin-right: 1%;
	}*/
	img {
		vertical-align: middle;
	}
	figcaption {
		background-color: $gray-900;
		padding: 8px 16px;
		padding-top: $base-border-radius + 8px;
		margin-top: -$base-border-radius;
		border-radius: 0 0 $base-border-radius $base-border-radius;
		text-align: center;
	}
}

footer {
	text-align: center;
	clear: both;
}

// For TAGLIST.HTML
.taglist {
	text-align: center;
	clear: both;
}

// For NEXTPREV.HTML
#nextprev {
	// The container for both the previous and next articles.
}
#prevart {
	float: left;
	text-align: left;
}
#nextart {
	float: right;
	text-align: right;
}
#nextart,#prevart {
	max-width: 33%;
}

#halftone-plate {
	// Only display pattern if stylesheet is loaded
	display: block !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
