// Link
a {
	font-weight: 500;
	text-decoration: none;
	color: $cerulean;
	&:link {
	}
	&:visited {
		color: $dandelion;
	}
	&:focus,
	&:hover {
		text-decoration: underline;
	}
	&:hover {
		color: $amethyst;
	}
	&:active {
		color: $fuchsia;
	}
}

main,
footer {
	a > img:hover {
		box-shadow: 0 0 0 $base-border-thickness * 2 $white;
	}
}

// Icons
@mixin link-icon {
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 0.9em;
	height: 1em;
}
article {
	a:where(.external-link)::after {
		@include link-icon;
		background-image: url("/icons/external-link-white.svg");
		margin: 0 0.25em -0.1em 0.375em;
	}
	a:where(.heading-link) {
		i.link::after {
			@include link-icon;
			background-image: url("/icons/link-white.svg");
			padding: 0;
			padding-right: 0.375em;
			margin-left: -0.25em;
			height: 0.8em;
		}
		span.sr-only {
			display: none;
		}
	}
}
article.page {
	$overdraw-size: 2rem;
	// Should cover the link on the left side
	@include breakpoint($content-max-width + ($overdraw-size - $pbm-expand + $heading-target-marker-width) * 2) {
		a:where(.heading-link) {
			i.link::after {
				position: absolute;
				right: 0;
				top: 0.3em;
			}
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-left: -$overdraw-size;
			padding-left: $overdraw-size;
		}
		h1:target,
		h2:target,
		h3:target,
		h4:target,
		h5:target,
		h6:target {
			padding-left: $overdraw-size + $pbm-expand;
		}
	}
}
