@mixin btn {
	font-size: $font-size-sm;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: 0;
	border-radius: $base-border-radius;
	font-weight: 600;
}

%btn {
	@include btn;
	border: $base-border-thickness $gray-800 solid;
	padding: $btn-padding-vertical $btn-padding-horizontal;
	box-shadow:
		inset $base-border-thickness *  2 $base-border-thickness *  2 0 rgba(255, 255, 255, 0.6),
		inset $base-border-thickness * -2 $base-border-thickness * -2 0 rgba(0, 0, 0, 0.6);
}

%btn-outlined {
	@include btn;
	margin: $base-border-thickness;
	padding: $btn-padding-vertical - $base-border-thickness * 2 $btn-padding-horizontal - $base-border-thickness * 2;
	box-shadow:
		inset $base-border-thickness *  2 $base-border-thickness *  2 0 rgba(0, 0, 0, 0.6),
		inset $base-border-thickness * -1 $base-border-thickness * -1 0 rgba(255, 255, 255, 0.6);
}

// Create button classes
//
// Note: recalculating light and dark color values
// Fix: pull light and dark color values from available maps
@each $map in ($colors, $grays) {
	@each $key, $val in $map {
		$light-color: lighten-color($val);
		$dark-color:  darken-color($val);
		.btn-#{$key} {
			@extend %btn;
			color: set-color($val);
			background-color: $val;
			&:hover {
				color: set-color($light-color);
				background-color: $light-color;
			}
			&:active {
				color: set-color($dark-color);
				background-color: $dark-color;
			}
		}
		.btn-outlined-#{$key} {
			@extend %btn-outlined;
			border: $base-border-thickness * 2 solid $val;
			color: $val;
			background-color: transparent;
			&:hover {
				color: $light-color;
				border-color: $light-color;
			}
			&:active {
				color: $dark-color;
				border-color: $dark-color;
			}
		}
	}
}
