// Code blocks
code {
//	font-feature-settings: "tnum", "zero";
	background-color: $code-light;
	padding: 1px 6px;
	border-radius: $base-border-radius;
	//line-break: anywhere; // loose; sometimes allows block to overflow
	line-break: loose;
	overflow-wrap: anywhere;
	display: inline-block;
	font-size: 0.75rem;

	// Language specific
	&[class^="language-"] {
		background-color: $code-dark;
		display: block;
		@include xs {
			padding: 6px 8px;
		}
		@include sm {
			padding: 12px 16px;
		}
		overflow-x: scroll;

		// Fixes right side padding on scrollable content
		& > span > span {
			padding-right: 16px;
		}
	}
}

div.highlight > pre {
	border-radius: $base-border-radius;
}
