// Code blocks
code {
//	font-feature-settings: "tnum", "zero";
	background-color: $code-light;
	padding: $base-padding * 0.125 $base-padding * 0.75;
	border-radius: if($rounded-corners, $base-border-radius, null);
	line-break: loose;
	overflow-wrap: anywhere;
	white-space: break-spaces;
	display: inline-block;
	font-size: 0.75rem;

	// Language specific
	&[class^="language-"] {
		background-color: $code-dark;
		white-space: pre;
		display: block;
		overflow-x: scroll;
		@include xs {
			padding: $base-padding * 0.75 $base-padding;
		}
		@include sm {
			padding: $base-padding * 1.5 $base-padding * 2;
		}

		// Fixes right side padding on scrollable content
		& > span > span {
			@include xs {
				padding-right: $base-padding;
			}
			@include sm {
				padding-right: $base-padding * 2;
			}
		}
	}

	// Set aside keyword "render" for graphical "ascii art"
	&.language-render {
		line-height: 1.15;
	}
}

div.highlight > pre {
	border-radius: if($rounded-corners, $base-border-radius, null);
}
