details {
	margin: 2rem 0;
	background-color: $gray-900;
	border: $base-border-thickness $gray-800 solid;
	border-radius: $base-border-radius + $base-border-thickness;
	summary {
		cursor: pointer;
		padding: $base-padding $base-padding * 1.5;
	}
	p {
		margin-bottom: 0;
	}
	img {
		display: block;
	}
	.content {
		padding: 0 $base-margin $base-margin;
		// Remove any padding or margin that would be on
		// the last element inside of the content body
		& *:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	&[open] {
		summary {
			margin-bottom: 1rem;
			background-color: $gray-800;
			border-radius: $base-border-radius;
			padding-bottom: $base-margin + $base-border-thickness;
		}
	}
}
