figure {
	display: inline-block;
	img {
		margin: 0 auto;
		min-width: 7.5rem;
		min-height: 2.625rem;
		height: auto;
	}
	figcaption {
		border-top: $base-border-thickness $gray-700 solid;
		background-color: $caption-bg;
		$br: if($rounded-corners, $base-border-radius, 0);
		padding: $br + $base-padding $base-padding * 2 $base-padding;
		margin-top: -$br;
		border-radius: 0 0 $br $br;
		text-align: center;
		letter-spacing: 0.01em;
		@include xs {
			font-size: $font-size-sm;
		}
		@include sm {
			font-size: $base-font-size;
		}
	}
	// Center image without resizing
	// one problem with this method is that the caption is now full width
	&.center {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	// Image fill to container
	&.stretch {
		display: block;
		img {
			width: 100%;
		}
	}
	// Force full-width. No horizontal margins
	&.full {
		@extend .stretch;
		margin-left: 0;
		margin-right: 0;
	}
	&.half {
		width: 48.5%;
		width: calc(50% - 0.5rem - #{$base-border-thickness * 2});
		margin-left: 0;
		margin-right: 0;
		img {
			display: block;
		}
		figcaption {
			@include xs {
				font-size: $font-size-sm;
			}
			@include sm {
				font-size: $base-font-size;
			}
		}
	}
}

.nf-image-row {
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	align-content: center;
	justify-content: space-between;
	figure.half {
		margin: 0;
	}
}
