footer {
	padding-bottom: 1rem;
	font-size: $font-size-sm;
	text-align: center;
	clear: both;
	margin: auto;
	margin-bottom: 0;
	p {
		margin: 1rem 0;
	}
	// old style 88x31px banners
	#badges {
		margin-bottom: 0.5rem;
		& > * {
			display: inline-block;
		}
		img {
			border-radius: 0;
			margin: 0;
			height: 31px;
			// banners may have a different width from the
			// standard size so no width is specified
		}
	}
	#website-info {
		max-width: 40rem;
		margin: 0 auto;
		& > * {
			margin: 0 0.1rem;
		}
		#website-copyright {
		}
	}
	#website-extra {
		margin-top: 0.625rem;
		display: flex;
		align-items: center;
		justify-content: center;
		#rss-feed-link {
			margin-left: 0.625rem;
			img {
				$rss-icon-size: 1.6rem;
				border: $base-border-thickness solid $gray-800;
				height: $rss-icon-size;
				width: $rss-icon-size;
				margin: 0;
			}
		}
	}
}
