footer {
	padding: 30px 0 10px;
	font-size: $font-size-sm;
	text-align: center;
	clear: both;
	margin: auto auto 0;
	p {
		margin: 1rem 0;
	}
	#website-copyright {
	}
	// 88x31 old style badges
	#badges {
		& > * {
			display: inline-block;
		}
		img {
			margin: 0;
			height: 31px;
			border-radius: 0;
			image-rendering: optimizequality;
		}
	}
	#website-extra {
		display: flex;
		align-items: center;
		justify-content: center;

		#rss-feed-link {
			margin-left: 10px;
			img {
				min-height: 1.76em; // button margins combined plus base font size
				height: 1.76em;
				width: 1.76em;
			}
		}
	}
}
