footer {
	padding: 1.875rem 0 0.625rem; //30px 0 10px
	font-size: $font-size-sm;
	text-align: center;
	clear: both;
	margin: auto;
	margin-bottom: 0;
	p {
		margin: 1rem 0;
	}
	#website-copyright {
	}
	// old style 88x31px banners
	#badges {
		& > * {
			display: inline-block;
		}
		img {
			border-radius: 0;
			margin: 0;
			height: 31px;
		}
	}
	#website-extra {
		display: flex;
		align-items: center;
		justify-content: center;

		#rss-feed-link {
			margin-left: 0.625rem; //10px
			img {
				$rss-icon-size: 1.6325rem;
				border: $base-border-thickness solid $gray-800;
				height: $rss-icon-size;
				width: $rss-icon-size;
			}
		}
	}
}
