.grid-container {
	$margin: 0.75rem;
	margin: clamp-to-zero(1rem - $margin) 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	//justify-content: center;
	justify-content: space-evenly;
	& > * {
		@include xs {
			margin: $margin * 0.5;
		}
		@include sm {
			margin: $margin * 0.75;
		}
		@include md {
			margin: $margin;
		}
	}
}
