.grid-container {
	margin: 1rem 0;
	@include md {
		justify-content: center;
	}
	@include lg {
		justify-content: space-between;
	}
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	& > * {
		margin: 1rem;
		@include xs {
			margin: 0.5rem;
		}
		@include sm {
			margin: 0.75rem;
		}
		@include md {
			margin: 1rem;
		}
	}
}
