.grid-container {
	$margin: 0.75rem;
	margin: clamp-to-zero(1rem - $margin) 0;
	@include md {
		justify-content: center;
	}
	@include lg {
		justify-content: space-evenly;
	}
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	& > * {
		
		@include xs {
			margin: $margin * 0.5;
		}
		@include sm {
			margin: $margin * 0.75;
		}
		@include md {
			margin: $margin;
		}
	}
}
