header > div {
	text-align: center;
	.intro-header {
		margin: 1rem 0;
		.header-text {
			.heading {
				margin: 0.5rem 0;
				line-height: 1.05;
			}
			.subheading {
				margin: 0.5rem 0;
				line-height: 1.05;
			}
			.post-meta {
				margin: 0.5rem 0 0.5rem;
			}
		}
		.img-header {
			margin: 0 auto 0.5rem + 0.25rem;
			& > img {
				margin: 0;
				max-height: 25rem;
				width: 100%;
				height: 100%;
				object-fit: cover;
				aspect-ratio: 24/13;
			}
		}
		&.page-header {
			.posts-header-text,
			.projects-header-text {
				text-align: left;
			}
		}
	}
	.index-lock {
		position: relative;
		.index-text {
			position: absolute;
			right: 0;
			text-align: right;
			font-weight: 700;
			@include xs {
				margin-left: 1rem;
				margin-right: 1rem;
				font-size: 130%;
			}
			@include sm {
				margin-left: 2.5rem;
				margin-right: 2.5rem;
				font-size: 150%;
			}
			@include md {
				margin-left: 4rem;
				margin-right: 4rem;
			}
			.page-number {
				
			}
		}
	}
}

