header {
	h1 {
		text-align: center;
	}
	.intro-header {
		margin-bottom: 1rem;
		.img-header {
			margin: 0 auto;
			margin-top: 1rem;
			max-height: 25rem; //400px
			width: 100%;
			object-fit: cover;
		}
		.page-heading {
			.page-subheading {
				text-align: center;
			}
		}
		.posts-heading {
			.posts-subheading {
				text-align: center;
				margin: 0;
				margin-top: 1rem;
			}
			.post-meta {
				text-align: center;
				margin-top: 0.5rem;
			}
		}
		.projects-heading {
			.projects-subheading {
				text-align: center;
			}
		}
	}
}
