header > div {
	text-align: center;
	.intro-header {
		margin: 1.15rem 0 1rem;
		.header-text {
			.heading {
				//margin: $h1-margin - 1rem 0; // I think maybe this remove "1rem" was for a margin on the image that doesn't exist anymore
				margin: 0.5rem 0;
				line-height: 1.05;
			}
			.subheading {
				margin: 0.5rem 0;
				line-height: 1.05;
			}
			.post-meta {
				margin: 0.5rem 0 0.5rem;
			}
		}
		.img-header {
			margin: 0 auto;
			max-height: 25rem;
			width: 100%;
			object-fit: cover;
			aspect-ratio: 24/13;
		}
		&.page-header {
			.posts-header-text,
			.projects-header-text {
				text-align: left;
			}
		}
	}
}

