main {
	h1,
	h2 {
		font-weight: 800;
	}
	article.page {
		h1:not(:target),
		h2:not(:target) {
			border-bottom: $base-border-thickness solid $gray-900;
			padding-bottom: $base-padding;
		}
		h1:not(:target) {
			margin-bottom: $h1-margin - $base-padding;
		}
		h2:not(:target) {
			margin-bottom: $h2-margin - $base-padding;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-weight: 700;
	a:where(.heading-link) {
		i.link::after {
			display: none;
		}
		// Make visable when selected with keyboard controls
		&:focus {
			i.link::after {
				display: inline-block;
			}
		}
	}
	&:hover {
		a:where(.heading-link) {
			i.link::after {
				display: inline-block;
			}
		}
	}
	// When heading is selected with uri
	&:target {
		padding: $base-padding 0 $base-padding 1rem;
		border-radius: if($rounded-corners, $base-border-radius, null);
		border-left: $base-border-thickness * 3 solid $dandelion;
	}
	&.leaf {
		display: flex;
		align-items: center;
		justify-content: center;
		// only here because im relying on whitespace to margin the icon normally.
		// flex removes this spacing so we have to add it back.
		.heading-link {
			margin-left: 0.25em;
		}
		&::after {
			content: "";
			height: 0.125rem;
			margin-left: 1.45em;
			border-radius: 1rem;
			border-radius: if($rounded-corners, 1rem, null);
			border: $base-border-thickness $white solid;
			flex-grow: 100;
		}
		&:hover::after {
			// 0.9em is the width of the icon.
			// removing it from the margin allows the leaf bar to stay the same width.
			//margin-left: 2.65em - 0.9em;
		}
	}
	&::before {
		content: "";
	}
	&::after {
		content: "";
	}
}

// header horizontal margin calculator
@function hhmc($in) {
	$mul: 0.02;
	@return $in * -$mul;
}

h1 {
	font-size: $font-size-xxl;
	margin: $h1-margin 0;
	word-spacing: 0.015em;
	&:target {
		margin: $h1-margin - $base-padding 0;
	}
	&::before {
		margin-left: hhmc($font-size-xxl);
	}
	&::after {
		margin-right: hhmc($font-size-xxl);
	}
}
h2 {
	font-size: $font-size-xl;
	margin: $h2-margin 0;
	word-spacing: 0.015em;
	&:target {
		margin: $h2-margin - $base-padding 0;
	}
	&::before {
		margin-left: hhmc($font-size-xl);
	}
	&::after {
		margin-right: hhmc($font-size-xl);
	}
}
h3 {
	font-size: $font-size-lg;
	margin: $h3-margin 0;
	word-spacing: 0.035em;
	&:target {
		margin: $h3-margin - $base-padding 0;
	}
	&::before {
		margin-left: hhmc($font-size-lg);
	}
	&::after {
		margin-right: hhmc($font-size-lg);
	}
}
h4 {
	font-size: $font-size-md;
	margin: $h4-margin 0;
	word-spacing: 0.035em;
	&:target {
		margin: $h4-margin - $base-padding 0;
	}
	&::before {
		margin-left: hhmc($font-size-md);
	}
	&::after {
		margin-right: hhmc($font-size-md);
	}
}
h5 {
	font-size: $font-size-sm;
	margin: $h5-margin 0;
	word-spacing: 0.05em;
	&:target {
		margin: $h5-margin - $base-padding 0;
	}
	&::before {
		margin-left: hhmc($font-size-sm);
	}
	&::after {
		margin-right: hhmc($font-size-sm);
	}
}
h6 {
	font-size: $font-size-sm;
	margin: $h6-margin 0;
	word-spacing: 0.05em;
	color: $gray-300;
	&:target {
		margin: $h6-margin - $base-padding 0;
	}
	&::before {
		margin-left: hhmc($font-size-sm);
	}
	&::after {
		margin-right: hhmc($font-size-sm);
	}
}

// Reset color for heading in post preview
.post-preview h6 {
	color: inherit;
}
