h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-weight: 700;
	a:where(.heading-link) {
	line-height: 0;
		i.link::after {
			display: none;
			
		}
	}
	&:hover {
		a:where(.heading-link) {
			i.link::after {
				display: inline-block;
			}
		}
	}
	// Make visable when selected with keyboard controls
	a:where(.heading-link):focus {
		i.link::after {
			display: inline-block;
		}
	}
	// When heading is selected with #{id} in uri
	&:target {
		padding: $base-padding;
		border-radius: $base-border-radius;
		box-shadow: inset 0 0 0 $base-border-thickness $dandelion;
	}
	&.leaf {
		display: flex;
		align-items: center;
		justify-content: center;
		// only here because im relying on whitespace to margin the icon normally.
		// flex removes this spacing so we have to add it back.
		.heading-link {
			margin-left: 0.25em;
		}
		&::after {
			content: "";
			height: 0.125rem;
			margin-left: 1.45em;
			border-radius: 1rem;
			border: $base-border-thickness $white solid;
			flex-grow: 100;
		}
		&:hover::after {
			// 0.9em is the width of the icon.
			// removing it from the margin allows the leaf bar to stay the same width.
			//margin-left: 2.65em - 0.9em;
		}
	}
}

main {
	h1,
	h2 {
		font-weight: 800;
	}
	article.page {
		h1,
		h2 {
			border-bottom: $base-border-thickness solid $gray-900;
			padding-bottom: $base-padding;
		}
		h1 {
			margin-bottom: $h1-margin - $base-padding;
		}
		h2 {
			margin-bottom: $h2-margin - $base-padding;
		}
	}
}

h1,
h2 {
	word-spacing: 0.015em;
}

h3,
h4 {
	word-spacing: 0.035em;
}

h5,
h6 {
	word-spacing: 0.05em;
}

h1 {
	font-size: $font-size-xxl;
	margin: $h1-margin 0;
}
h2 {
	font-size: $font-size-xl;
	margin: $h2-margin 0;
}
h3 {
	font-size: $font-size-lg;
	margin: $h3-margin 0;
}
h4 {
	font-size: $font-size-md;
	margin: $h4-margin 0;
}
h5 {
	font-size: $font-size-sm;
	margin: $h5-margin 0;
}
h6 {
	font-size: $font-size-sm;
	margin: $h6-margin 0;
	color: $gray-300;
}

// Reset color for heading in post preview
.post-preview {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit;
	}
}





