nav {
	background-color: $nav-bg;
	background-image: linear-gradient(to top right, $nav-bg, darken($nav-bg, 8%));
	padding: $nav-vertical-padding $nav-horizontal-padding;
	border-radius: $base-border-radius;
	box-shadow: $base-box-shadow;
	@include xs {
		padding-bottom: 0;
	}
	@include sm {
		padding-bottom: $nav-vertical-padding;
	}
	#logo {
		height: 3.125rem;
		a {
			// normally the clickable part of the anchor grows to be as large as its parent container
			// with display block you may accidentally press the home button quite often
			display: inline-block;
		}
		img {
			margin: 0 $base-margin * 0.625;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		line-height: 1;
		li {
			border-right: $base-border-thickness $gray-400 solid;
			display: inline;
			word-wrap: normal;
			margin: 0;
			&:last-child {
				border: none;
			}
			@include xs {
				margin-bottom: $nav-vertical-padding;
			}
			@include sm {
				margin-bottom: 0;
			}
			a {
				padding: $base-padding * 0.125 $base-padding * 0.75;
				color: $white;
				&:link, &:visited {
					color: inherit;
				}
				&:hover {
					color: $gray-100;
				}
				&:active {
					color: $gray-200;
				}
				&.menuactive {
					font-weight: 700;
				}
			}
		}
	}
}
