nav {
	$nav-vertical-padding: 6px;
	background-color: $nav-bg;
	background-image: linear-gradient(to top right, $nav-bg, darken($nav-bg, 8%));
	padding: 6px $base-margin;
	border-radius: $base-border-radius;
	box-shadow: $base-box-shadow;
	@include xs {
		padding-bottom: 0;
	}
	@include sm {
		padding-bottom: $nav-vertical-padding;
	}
	a {
		&:hover,
		&:focus {
			color: $cerulean;
		}
	}
	#logo {
		height: 50px;
		a {
			// fixes an issue where the selectable part of the anchor
			// grows to be as large as its parent container
			// without this line, you may accidentally press the home button quite often
			display: inline-block;
		}
		img {
			margin: 0 5px;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		line-height: 1;
		a {
			padding: 1px 6px;
			color: $white;
			&:link, &:visited {
				color: inherit;
			}
			&:hover {
				color: $gray-100;
			}
			&:active {
				color: $gray-200;
			}
		}
	}
	li {
		border-right: $base-border-thickness $gray-400 solid;
		display: inline;
		word-wrap: normal;
		margin: 0;
		&:last-child {
			border: none;
		}
		@include xs {
			margin-bottom: $nav-vertical-padding;
		}
		@include sm {
			margin-bottom: 0;
		}
	}
}
