// Taxonomy page list navigation buttons
ul.pagination {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	line-height: 1;
	li {
		margin: $base-margin * 0.1 $base-margin * 0.315;
		display: inline;
		word-wrap: normal;
		a,
		span {
			display: inline-block;
			text-align: center;
			padding: 0.3125rem 0.135rem;
			min-width: 1.45rem;
			color: $white;
			background-color: $gray-700;
			border: $base-border-thickness $gray-900 solid;
			border-radius: if($rounded-corners, $base-border-radius, null);
			box-shadow:
				inset $base-border-thickness $base-border-thickness 0 rgba(255, 255, 255, 0.6),
				inset $base-border-thickness * -1 $base-border-thickness * -1 0 rgba(0, 0, 0, 0.6);
		}
		a {
			&:hover {
				background-color: $gray-500;
			}
			&:active {
				background-color: $gray-900;
			}
		}
		// Active page
		span {
			user-select: none;
			background-color: $gray-900;
			border: $base-border-thickness $emerald solid;
			box-shadow: inset 0 0 0 $base-border-thickness $dark-emerald;
		}
		&.hidden {
			display: none;
		}
	}
}
