$panel-colors: (
	"note":       $gray-300,
	"example":    $emerald,
	"info":       $turquoise,
	"caution":    $dandelion,
	"danger":     $vermilion,
	"error":      $dark-violet
);

$panel-icon-size: 2.5rem;

%panel {
	@include xs {
		margin: 1rem 0;
		padding: 1rem 1rem;
	}
	@include sm {
		padding: 1rem 2rem;
	}
	@include md {
		margin: 1rem 2rem;
	}
	margin: 1rem 2rem;
	padding: 1rem 2rem;
	border-radius: $base-border-radius;
	border-width: $base-border-thickness;
	border-style: solid;
	text-align: center;
	box-shadow: $base-box-shadow;
	display: block;
	p {
		margin: 1rem 0;
	}
	// set the box large enough to always fit the icon
	min-height: $panel-icon-size;
	& > .panel-icon {
		background-image: url("/icons/info-white.svg");
		background-repeat: no-repeat;
		background-position: center;
		width: $panel-icon-size;
		height: $panel-icon-size;
		float: left;
		margin-bottom: 0.5rem;
		margin-right: 1rem;
	}
	// the before sudo element is used here as a kind of spacer.
	// opposite the icon- it keeps text and content
	// centered at the top part of the panel element
	&::before {
		content: "";
		width: $panel-icon-size;
		height: $panel-icon-size;
		float: right;
		margin-bottom: 0.5rem;
		margin-left: 1rem;
	}
}

@each $key, $val in $panel-colors {
	.panel-#{$key} {
		@extend %panel;
		border-color: $val;
		$dark-color: darken-color($val);
		background-color: mix($dark-color, $black, 30%);
		background-color: rgba($dark-color, 0.3);
	}
}

.panel-note > .panel-icon {
	background-image: url("/icons/notepad-white.svg");
}

.panel-example > .panel-icon {
	background-image: url("/icons/question-mark-white.svg");
}

.panel-info > .panel-icon {
	background-image: url("/icons/info-white.svg");
}

.panel-error > .panel-icon,
.panel-caution > .panel-icon {
	background-image: url("/icons/caution-white.svg");
}

.panel-danger > .panel-icon {
	background-image: url("/icons/skull-n-bones-white.svg");
}
