// terms list
.post-term-list {
	@include xs {
		margin: 1rem 0;
	}
	@include breakpoint(300px) {
		margin: 1rem 2rem;
	}
	@include sm {
		margin: 3rem 0;
	}
	@include md {
		margin: 5rem 2rem;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	.post-term {
		flex-shrink: 0;
		min-width: 6rem;
		display: inline-block;
		background-color: rgba(0,0,0,0.1);
		border: $base-border-thickness $gray-400 solid;
		@include multi-color-list(box-shadow, "#{$base-border-thickness} #{$base-border-thickness} 0");
		border-radius: $term-border-radius;
		@include xs {
			margin: 0.25rem;
			flex-basis: 100%;
		}
		@include sm {
			margin: 0.33rem;
			flex-basis: initial;
		}
		@include md {
			margin: 0.6rem;
		}
		&:hover {
			background-color: $gray-800;
		}
		&:active {
			background-color: $gray-600;
		}
		a {
			color: $white;
			text-decoration: none;
		}
		.panel-heading {
			padding: $base-border-thickness * 3;
			.panel-title {
				margin: 0;
				margin-left: 0.75rem;
				display: flex;
				position: relative;
				align-items: center;
				.term {
					@include xs {
						padding-right: 0.25rem;
					}
					@include sm {
						padding-right: 0;
					}
				}
				.badge {
					font-weight: lighter;
					color: $black;
					background-color: $white;
					border-radius: $term-border-radius;
					text-align: center;
					width: 3rem;
					border: $base-border-thickness $white solid;
					@include xs {
						margin-left: auto;
					}
					@include sm {
						margin-left: 1.5rem;
					}
				}
			}
		}
	}
}

