.post-meta {
	line-height: 1.1;
	font-size: $font-size-sm;
	color: $white;
	.post-date,
	.author-name {
		font-weight: 700;
		//color: $gray-100;
	}
	.post-date {
	}
	.post-last-modified {
		margin-left: 0.15em;
	}
	.post-reading-time {
	}
	.post-word-count {
	}
	.author-name {
	}
	.post-tags {
		.tag {
			display: inline-block;
		}
	}
}