// Taxonomy pagination list
.post-preview {
	//background-color: rgba(0,0,0,0.15);
	//border: $base-border-thickness $gray-800 solid;
	//border-radius: if($rounded-corners, $base-border-radius, null);
	
	// Fixes line height padding on post-title
	// centering the content a little bit better
	$top-indent: 0.25;
	// padding horizontal & padding vertical
	// top-indent is halved and then removed from the top padding and added to the bottom
	$xs-pv: 1.5rem;
	$xs-ph: 0.75rem;
	$sm-pv: 2rem;
	$sm-ph: 2rem;
	//$md-pv: 2rem;
	//$md-ph: 2rem;
	
	&:first-of-type {
		margin-top: 2.5rem;
	}
	&:last-of-type {
		margin-bottom: 1.5rem;
	}
	@include xs {
		padding: ($xs-pv - $top-indent * 0.5) $xs-ph ($xs-pv + $top-indent * 0.5);
	}
	@include sm {
		padding: ($sm-pv - $top-indent * 0.5) $sm-ph ($sm-pv + $top-indent * 0.5);
	}
	@include md {
		//padding: ($md-pv - $top-indent * 0.5) $md-ph ($md-pv + $top-indent * 0.5);
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.post-link {
	}
	.post-title {
		margin: 0;
		font-weight: 800;
	}
	.post-subtitle {
		margin: 0;
		margin-top: 0.25rem;
	}
	.post-image {
		padding-top: 0.5rem;
		margin-bottom: 0.5rem;
		img {
			border: $base-border-thickness * 3 solid $pure-black;
			box-shadow: 0 0 0 $base-border-thickness $pure-white;
			margin: 0 auto;
			width: 100%;
			width: calc(100% - #{$base-border-thickness * 6});
			object-fit: cover;
			
			
			@include xs {
				max-height: 6rem;
			}
			@include sm {
				max-height: 8rem;
			}
			@include md {
				max-height: 10rem;
			}
		}
	}
	.post-meta {
		margin-top: 0.25rem;
	}
	.post-entry {
		@include xs {
			line-height: 1.1;
		}
		@include sm {
			line-height: 1.25;
		}
		border-top: $base-border-thickness $gray-500 solid;
		padding-top: 0.25rem;
		margin-top: 0.35rem;
		.post-read-more {
			margin-left: 0.25rem;
		}
	}
	.blog-tags {
	}
}
