// taxonomy pagination list
.post-preview {
	background-color: rgba(0,0,0,0.15);
	border: $base-border-thickness $gray-800 solid;
	border-radius: $base-border-radius;
	padding: 1.5rem 2rem;
	margin: 1.5rem 0;
	&:first-child {
		margin-top: 1rem;
	}
	&:last-child {
		margin-bottom: 1rem;
	}
	@include xs {
		padding: 0.35rem 0.625rem 0.625rem;
	}
	@include sm {
		padding: 1rem 2rem;
	}
	@include md {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.post-title {
		margin: 0;
		padding-top: 0.35rem;
	}
	.post-subtitle {
		margin: 0;
		padding-top: 0.35rem
	}
	.img-title {
		margin: 0 auto;
		padding-top: 1rem;
		max-height: 160px;
		width: 100%;
		object-fit: cover;
	}
	.post-meta {
		padding-top: 0.75rem;
	}
	.post-entry {
		@include xs {
			line-height: 1.1;
		}
		@include sm {
			line-height: 1.25;
		}
		padding-top: 0.75rem;
		.post-read-more {

		}
	}
	.blog-tags {
		font-size: $font-size-sm;
		margin-top: 0.5rem;
	}
}
