// taxonomy pagination list
.post-preview {
	//background-color: rgba(0,0,0,0.15);
	//border: $base-border-thickness $gray-800 solid;
	//border-radius: $base-border-radius;
	padding: 1.5rem 2rem;
	//margin: 1.5rem 0;
	&:first-child {
		margin-top: 1rem;
	}
	&:last-child {
		margin-bottom: 1rem;
	}
	@include xs {
		padding: 0.625rem 0.75rem;
	}
	@include sm {
		padding: 1rem 2rem;
	}
	@include md {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.post-title {
		margin: 0;
		font-weight: 800;
	}
	.post-subtitle {
		margin: 0;
		margin-top: 0.25rem;
	}
	.img-title {
		margin-top: 0.5rem;
		img {
			margin: 0 auto;
			max-height: 10rem;
			width: 100%;
			object-fit: cover;
		}
	}
	.post-meta {
		margin-top: 0.25rem;
	}
	.post-entry {
		@include xs {
			line-height: 1.1;
		}
		@include sm {
			line-height: 1.25;
		}
		margin-top: 0.75rem;
		.post-read-more {

		}
	}
	.blog-tags {
	}	
}
