table {
	margin: 2rem 0;
	width: 100%;
	code {
		font-size: 0.75em;
	}
	@include xs {
		font-size: $font-size-sm;
		padding: $base-padding * 0.5;
		code {
			word-wrap: anywhere;
		}
	}
	@include breakpoint(300px) {
		font-size: $base-font-size;
	}
	@include breakpoint(380px) {
		code {
			word-wrap: break-word;
		}
	}
	@include sm {
		padding: $base-padding * 1.5;
	}
	@include md {
		padding: $base-padding * 2;
	}
	@include lg {
		padding: $base-padding * 3;
	}
	background-color: $table-bg;
	border: $base-border-thickness $gray-700 solid;
	border-radius: $base-border-radius;
	overflow-wrap: break-word;
	thead,
	tbody {
		text-align: left;
		tr {
			th,
			td {
				@include xs {
					padding: $base-padding * 0.25 $base-padding * 0.5;
					width: 1%;
				}
				@include breakpoint(300px) {
					width: initial;
					padding: $base-padding * 0.25 $base-padding;
				}
				@include sm {
				}
				@include md {
					padding: $base-padding * 0.375 $base-padding;
				}
				@include lg {
					padding: $base-padding * 0.5 $base-padding * 1.75;
				}
			}
		}
	}
	// Default view is stretched to the body
	// Compact class only contains content and centers in the body
	&.compact {
		margin-left: auto;
		margin-right: auto;

		@include xs {
			width: 100%;
		}
		@include breakpoint(300px) {
			width: auto;
			min-width: 80%;
		}
		@include sm {
			min-width: auto;
		}
	}
}
