main {
	#toc-container {
		font-size: 0.95em;
		border-radius: if($rounded-corners, $base-border-radius, null);
		margin: 0 0 2rem;
		background-color: $black;
		@include xs {
			padding: 1rem 1rem 0.5rem
		}
		@include sm {
			padding: 1.35rem 2rem 0.75rem;
		}
		@include md {
			padding-left:  3rem;
			padding-right: 3rem;
		}
		h2 {
			margin: 0;
			font-size: 1.5rem * 0.95;
		}
		nav > ol,
		nav > ul {
			margin: 1rem 0 0;
			padding-left: 1rem;
		}
		// Side mode
		$toc-loose-bp-min-width: $page-max-width + $toc-loose-min-width * 2;
		@include breakpoint($toc-loose-bp-min-width) {
			$horizontal-padding: 2.5rem;
			padding-left:  $horizontal-padding;
			padding-right: $horizontal-padding;
			padding-top: 1.75rem;
			padding-bottom: 1.5rem;
			margin: 0;
			position: absolute;
			top: $body-margin + 24rem;
			
			// Fix unsupported calc() browsers
			right: $toc-loose-margin;
			max-width: $toc-loose-min-width - ($toc-loose-margin * 2 + $horizontal-padding * 2);
			
			// Reset right if calc() is supported
			@supports (right: calc(0px)) {
				right: auto;
			}
			
			left: calc(50% + #{$page-max-width * 0.5 + $toc-loose-margin});
			max-width: calc((100% - #{$page-max-width}) * 0.5 - #{$toc-loose-margin * 2 + $horizontal-padding * 2});
		}
	}
}