<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
		<header>
			{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
		</header>
		<main aria-role="main">
			<article>
				{{ block "main" . }}
				{{ .Content }}
				{{ end }}
				{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
				{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
			</article>
		</main>
		<footer>
			{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
		</footer>
		{{ partial "halftone.html" . }}
	</body>
</html>
