<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		{{ partialCached "theme-switcher/script-body.html" . }}
		
		{{ partial "halftone.html" . }}
		
		{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end }}
		
		<header><div>
			{{ block "header" . }}{{ partial "header.html" . | emojify }}{{ end }}
		</div></header>
		
		<main><div>
			<article class="main-article {{ if eq .Kind "home" "page" }} page{{ end }}">
				{{ block "main" . }}{{ .Content | emojify }}{{ end }}
			</article>
		</div></main>
		
		<footer><div>
			{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
		</div></footer>
	</body>
</html>