<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
		{{- partial "head.html" . }}
	</head>
	<body>
		{{- partialCached "theme-switcher/script-body.html" . -}}
		{{ partial "halftone.html" . }}
		{{ if .Site.Menus.main -}}
		<div>
			{{ partial "nav.html" . }}
		</div>
		{{ end }}
		{{ block "header" . -}}
		<div>
			{{ partial "header.html" . }}
		</div>
		{{ end }}
		<div>
			<main aria-role="main">
				<article{{ if eq .Kind "home" "page" }} class="page"{{ end }}>
					{{ block "main" . }}{{ .Content }}{{ end }}
				</article>
			</main>
		</div>
		<div id="footer-lock">
			<footer>
				<section id="article-info">
					{{- if and (eq .Kind "page") (ne .Type "page") }}
						{{ partialCached "bottom-of-post.html" . }}
					{{ end -}}
					{{ if .Param "nextprev" }}{{ partial "nextprev.html" . }}{{ end -}}
				</section>
				<hr/>
				{{ block "footer" . }}
					{{- partial "footer.html" . }}
				{{ end -}}
			</footer>
		</div>
	</body>
</html>