body {
	$body-margin: 0.625rem;

	// Font & text settings
	overflow-wrap: anywhere;
	font-family: sans-serif;
//	font-family: "Noto Sans", sans-serif;
	font-size: $base-font-size;
	letter-spacing: -0.01em;
	line-height: 1.425;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-variant-ligatures: contextual;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;

	background-color: $black;
	color: $white;

	margin: $body-margin; //10px

	// Background image settings
	background-image: url("/background.webp");
	background-size: 100%;
	background-repeat: repeat-y;
	image-rendering: pixelated;

	// Footer alignment
	display: flex;
	flex-flow: column;
	// fallback
	height: 100vh;

	// Remove margin from footer
	margin-bottom: 0;
	// calculate out the top margin
	height: calc(100vh - #{$body-margin}); // - 10px

	& > * {
		image-rendering: initial;
	}
}

// Content bodies
header,
footer,
nav,
main {
	max-width: $page-max-width;
	margin: 0 auto;
}
nav {
	// Remove padding from width
	max-width: $page-max-width - ($base-margin * 2);
}

main {}

// Scrollbar
html,
code[class^="language-"] {
	// Firefox
	scrollbar-width: auto;
	scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

	// Chrome, Edge, and Safari
	&::-webkit-scrollbar {
		width: $scrollbar-webkit-track-width;
		height: $scrollbar-webkit-track-width;
	}
	&::-webkit-scrollbar-track {
		background-color: none;
		width: $scrollbar-webkit-track-width;
		&:hover {
			background-color: $scrollbar-track-color;
		}
	}
	&::-webkit-scrollbar-thumb {
		background-color: $scrollbar-thumb-color;
		border-radius: $scrollbar-webkit-thumb-border-radius;
		border: $scrollbar-webkit-thumb-border;
	}
}

@mixin selection {
	color: $selection-color;
	background: $selection-background;
}

// Text/element mouse selection
::-moz-selection {
	// ! Keep Separate !
	// When browsers find a part of a select they
	// don’t understand, they drop the entire thing.
	// Combining selection styles together will cause it to fail.
	@include selection;
}
::selection {
	@include selection;
}

// Disable mouse selection on screen-reader omitted content
[aria-hidden="true"] {
	user-select: none;
}

// Basic elements
p {
	margin: 1rem 0;
}

hr {
	margin: 1rem 0;
	border: $base-border-thickness $gray-700 solid;
	&.small {
		border-right-color: $pure-black;
		border-left-color: $pure-black;
		border-bottom-color: $pure-black;
	}
}

ol,
ul {
	@include xs {
		padding-left: 1.25rem;
	}
	@include sm {
		padding-left: 1.875rem;
	}
	@include md {
		padding-left: 2.5rem;
	}
	li {
		margin: 0.5rem 0;
	}
}

blockquote {
	@include xs {
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}
	@include sm {
		margin-left: 1.875rem;
		margin-right: 1.875rem;
	}
	@include md {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}

dl {
	dt {
	}
	dd {
		@include xs {
			margin-left: 1.25rem;
		}
		@include sm {
			margin-left: 1.875rem;
		}
		@include md {
			margin-left: 2.5rem;
		}
	}
}

img {
	color: red;
	display: block;
	max-width: 100%;
	border-radius: $base-border-radius;
	margin: 1rem auto;
}

.post-meta {
	line-height: 1.1;
}

#halftone-plate { // Background 'dot' pattern
	display: block !important; // Only display pattern if stylesheet is loaded
	position: fixed;
	top: 0;
	left: 0;
	z-index: -99;
}

.taglist {
	text-align: center;
	clear: both;
	padding-top: 1rem;
}

#nextprev {
}
#prevart {
	float: left;
	text-align: left;
}
#nextart {
	float: right;
	text-align: right;
}
#nextart,#prevart {
	max-width: 33%;
}
