body {
	// Font & text settings
	font-family: sans-serif;
	font-family: "Noto Sans", sans-serif;
	font-size: $base-font-size;
	letter-spacing: -0.01em;
	line-height: 1.5;
	overflow-wrap: anywhere;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-variant-ligatures: contextual;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;

	background-color: $black;
	color: $white;

	margin: $body-margin;

	// Footer alignment
	display: flex;
	flex-flow: column;
	// fallback
	height: 100vh;

	// Remove margin from footer
	margin-bottom: 0;
	// calculate out the top margin
	height: calc(100vh - #{$body-margin});

	// Background image settings
	@if $show-bg-texture {
		background-image: url(#{$bg-texture-path});
		background-size: 100%;
		background-repeat: repeat-y;
		image-rendering: pixelated;

		// Reset image rendering after background is set to pixelated
		& > * {
			image-rendering: initial;
		}
	}
}

// Content bodies
header > div,
footer > div,
nav    > div,
main   > div {
	max-width: $page-max-width;
	margin: 0 auto;
}
nav > div {
	// Remove padding from width
	max-width: $page-max-width - ($nav-horizontal-padding * 2);
}

// Indent text in the page
p,
.header-text,
#nextprev {
	@include xs {
		padding: 0 $pbm-compact;
	}
	@include breakpoint($content-max-width) {
		padding: 0 $pbm-expand;
	}
}
h1:not(:target) .text,
h2:not(:target) .text,
h3:not(:target) .text,
h4:not(:target) .text,
h5:not(:target) .text,
h6:not(:target) .text,
h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
	display: inline-block;
	@include xs {
		margin: 0 $pbm-compact;
	}
	@include breakpoint($content-max-width) {
		margin: 0 $pbm-expand;
	}
}


// Text/element mouse selection
@mixin selection {
	background: $selection-background;
	color: $selection-color;
}
::-moz-selection {
	// ! Keep Separate !
	// When browsers find a part of a select they
	// don’t understand, they drop the entire thing.
	// Combining selection styles together will cause it to fail.
	@include selection;
}
::selection {
	@include selection;
}

// Disable mouse selection on screen-reader omitted content
[aria-hidden="true"] {
	user-select: none;
}


// Basic elements
// Paragraphs
p {
	margin: 1rem 0;
}

// Heading Rows
hr {
	margin: 1rem 0;
	border: $base-border-thickness $gray-700 solid;
	&.small {
		border-right-color: $pure-black;
		border-left-color: $pure-black;
		border-bottom-color: $pure-black;
	}
}
header .intro-header.page-header hr {
	@include sm {
		margin-bottom: 1.5rem;
	}
	@include lg {
		margin-bottom: 2rem;
	}
}
main hr {
	margin: 1.5rem 0;
}

ol,
ul {
	@include list-indent;
	li {
		margin: 0.25rem 0;
	}
}
.main-article > ol,
.main-article > ul {
	margin: 2rem 0;
}

blockquote {
	$color: $gray-500;
	$quote-size: 3.5em;
	$quote-margin: 0.5rem;
	@mixin quote {
		color: $color;
		vertical-align: $quote-size * -0.12;
		font-size: $quote-size;
		line-height: 0;
	}
	@include squeeze-indent;
	quotes: "“" "”" "‘" "’";
	background-color: mix($color, $black, 30%);
	background-color: rgba($color, 0.3);
	border-left: 0.1875rem solid $color;
	border-radius: if($rounded-corners, $base-border-radius, null);
	padding: 0.5em;
	p {
		margin-top: 0;
		//line-height: 1.4em;
		display: inline;
	}
	&:before {
		content: open-quote;
		margin-right: $quote-margin;
		@include quote;
	}
	&:after {
		content: close-quote;
		margin-left: $quote-margin;
		@include quote;
	}
}

dl {
	dt {
	}
	dd {
		@include list-indent;
	}
}


$img-border-style: $base-border-thickness $gray-700 solid;

header .intro-header {
	.img-header,
	.img-header > img {
		border-radius: if($rounded-corners, $base-border-radius, null);
	}
	.img-header {
		border: $img-border-style;
	}
}
main {
	figure,
	.video-container {
		border: $img-border-style;
	}
}
main {
	figure,
	img,
	.video-container,
	video {
		border-radius: if($rounded-corners, $base-border-radius, null);
	}
}

img,
video {
	display: block;
	max-width: 100%;
	margin: 1rem auto;
}

.video-container {
	display: block;
	video {
		margin: 0 auto;
		min-width: 7.5rem;
		min-height: 2.625rem;
		height: auto;
	}
}

figure,
.video-container {
	@include squeeze-indent;
}


// Background 'dot' pattern
@if $show-bg-halftone {
	#halftone-plate {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -99;
	}
}
