body {
	// Font & text settings
	font-family: sans-serif;
	font-family: "Noto Sans", sans-serif;
	font-size: $base-font-size;
	letter-spacing: -0.01em;
	line-height: 1.5;
	overflow-wrap: anywhere;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-variant-ligatures: contextual;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;

	background-color: $black;
	color: $white;

	margin: $body-margin;

	// Footer alignment
	display: flex;
	flex-flow: column;
	// fallback
	height: 100vh;

	// Remove margin from footer
	margin-bottom: 0;
	// calculate out the top margin
	height: calc(100vh - #{$body-margin});

	// Background image settings
	background-image: url("/img/background.webp");
	background-size: 100%;
	background-repeat: repeat-y;
	image-rendering: pixelated;

	// Reset image rendering after background is set to pixelated
	& > * {
		image-rendering: initial;
	}
}

// Content bodies
header > div,
footer > div,
nav    > div,
main   > div {
	max-width: $page-max-width;
	margin: 0 auto;
}
nav > div {
	// Remove padding from width
	max-width: $page-max-width - ($nav-horizontal-padding * 2);
}

// Page content body margins
$pbm-compact:  0.156rem;
$pbm-expanded: 0.078rem;
// Adds just a biiiit of margin to the content body
// And increases padding when there is no whitespace around content
.header-text,
.main-article,
#article-info {
	@include xs {
		padding-left:  $pbm-compact;
		padding-right: $pbm-compact;
	}
	// Breakpoint at the max width of the page before it starts shrinking
	@include breakpoint($page-max-width + $body-margin * 2) {
		padding-left:  $pbm-expanded;
		padding-right: $pbm-expanded;
	}
}
// Undo page content body margins to full size figure images
.main-article figure.full {
	@include xs {
		margin-left:  -$pbm-compact;
		margin-right: -$pbm-compact;
	}
	@include breakpoint($page-max-width + $body-margin * 2) {
		margin-left:  -$pbm-expanded;
		margin-right: -$pbm-expanded;
	}
}

@mixin selection {
	background: $selection-background;
	color: $selection-color;
}
// Text/element mouse selection
::-moz-selection {
	// ! Keep Separate !
	// When browsers find a part of a select they
	// don’t understand, they drop the entire thing.
	// Combining selection styles together will cause it to fail.
	@include selection;
}
::selection {
	@include selection;
}

// Disable mouse selection on screen-reader omitted content
[aria-hidden="true"] {
	user-select: none;
}


// Basic elements
p {
	margin: 1rem 0;
}

hr {
	margin: 1rem 0;
	border: $base-border-thickness $gray-700 solid;
	&.small {
		border-right-color: $pure-black;
		border-left-color: $pure-black;
		border-bottom-color: $pure-black;
	}
}
header .intro-header hr {
	margin-bottom: 1.5rem;
}
main hr {
	margin: 2rem 0;
}

ol,
ul {
	@include list-indent;
	li {
		margin: 0.25rem 0;
	}
}
.main-article > ol,
.main-article > ul {
	margin: 2rem 0;
}

blockquote {
	$color: $dark-turquoise;
	$quote-size: 3.5em;
	@mixin quote {
		color: $color;
		vertical-align: $quote-size * (-0.1);
		font-size: $quote-size;
		line-height: 0;
	}
	@include squeeze-indent;
	quotes: "“" "”" "‘" "’";
	background-color: mix($color, $black, 30%);
	background-color: rgba($color, 0.3);
	border-left: 0.1875rem solid $color;
	border-radius: if($rounded-corners, $base-border-radius, null);
	padding: 0.5em;
	p {
		margin-top: 0;
		//line-height: 1.4em;
		display: inline;
	}
	&:before {
		content: open-quote;
		margin-right: 0.125rem;
		@include quote;
	}
	&:after {
		content: close-quote;
		margin-left: 0.125rem;
		@include quote;
	}
}

dl {
	dt {
	}
	dd {
		@include list-indent;
	}
}


header .intro-header {
	.img-header,
	.img-header > img {
		border-radius: if($rounded-corners, $base-border-radius, null);
	}
	.img-header {
		border: $base-border-thickness $gray-700 solid;
	}
}
main {
	figure,
	.video-container {
		border: $base-border-thickness $gray-700 solid;
	}
}
main {
	figure,
	img,
	.video-container,
	video {
		border-radius: if($rounded-corners, $base-border-radius, null);
	}
}

img,
video {
	display: block;
	max-width: 100%;
	margin: 1rem auto;
}

.video-container {
	display: block;
	video {
		margin: 0 auto;
		min-width: 7.5rem;
		min-height: 2.625rem;
		height: auto;
	}
}

figure,
.video-container {
	@include squeeze-indent;
}


// Footer page summary block
// Holds post splash and nearby page navigation
#article-info {
	margin-top: 1rem;
}

// Background 'dot' pattern
#halftone-plate {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -99;
}
