// All colors text & background classes
@each $map in ($pure-black-and-white, $black-and-white, $grays, $colors, $light-colors, $dark-colors) {
	@each $key, $val in $map {
		.text-#{$key} {
			color: $val;
		}
		.bg-#{$key} {
			background-color: $val;
		}
	}
}

// Rainbow animation text & background classes
@mixin rainbow-keyframes($property) {
	0%    { #{$property}: $cornflower; }
	7.7%  { #{$property}: $amethyst; }
	15.4% { #{$property}: $fuchsia; }
	23.0% { #{$property}: $violet; }
	30.8% { #{$property}: $vermilion; }
	38.5% { #{$property}: $ocher; }
	46.2% { #{$property}: $amber; }
	53.8% { #{$property}: $dandelion; }
	61.5% { #{$property}: $chartreuse; }
	69.2% { #{$property}: $emerald; }
	76.9% { #{$property}: $caribbean; }
	84.6% { #{$property}: $turquoise; }
	92.3% { #{$property}: $cerulean; }
	100%  { #{$property}: $cornflower; }
}
@keyframes rainbow-tc {
	@include rainbow-keyframes(color);
}
@keyframes rainbow-bg {
	@include rainbow-keyframes(background);
}
@mixin rainbow-animation($duration: 5) {
	animation-duration: #{$duration}s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.text-rainbow {
	animation-name: rainbow-tc;
	@include rainbow-animation;
}
.bg-rainbow {
	animation-name: rainbow-bg;
	@include rainbow-animation;
}

@keyframes rainbow-bc {
	0%    { border-image: conic-gradient($cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower) 1 }
	7.7%  { border-image: conic-gradient($amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst)   1 }
	15.4% { border-image: conic-gradient($fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia)    1 }
	23.0% { border-image: conic-gradient($violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet)     1 }
	30.8% { border-image: conic-gradient($vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion)  1 }
	38.5% { border-image: conic-gradient($ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher)      1 }
	46.2% { border-image: conic-gradient($amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber)      1 }
	53.8% { border-image: conic-gradient($dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion)  1 }
	61.5% { border-image: conic-gradient($chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse) 1 }
	69.2% { border-image: conic-gradient($emerald, $caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald)    1 }
	76.9% { border-image: conic-gradient($caribbean, $turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean)  1 }
	84.6% { border-image: conic-gradient($turquoise, $cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise)  1 }
	92.3% { border-image: conic-gradient($cerulean, $cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean)   1 }
	100%  { border-image: conic-gradient($cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower) 1 }
}

.border-rainbow {
	border-width: $base-border-thickness;
	border-style: solid;
	border-image: conic-gradient($cornflower, $amethyst, $fuchsia, $violet, $vermilion, $ocher, $amber, $dandelion, $chartreuse, $emerald, $caribbean, $turquoise, $cerulean, $cornflower) 1;
	animation-name: rainbow-bc;
	@include rainbow-animation(20);
}

// Gradient backgrounds
@mixin d-gradient($color1, $color2) {
	// Fallback in case browser does not support gradient
	background: mix($color1, $color2, 50%);
	background: linear-gradient(135deg, #{$color1}, #{$color2});
}

@mixin d-gradient-analogous($color) {
	$color1: scale-color(
		adjust-hue($color, 10deg),
		$red:    -6,
		$green: -15,
		$blue:   -4
	);
	$color2: scale-color(
		adjust-hue($color, -40deg),
		$red:   -14,
		$green: -25,
		$blue:   -5
	);
	@include d-gradient($color1, $color2);
}

@mixin d-gradient-black($color) {
	@include d-gradient($color, mix(#000, $color, 80%));
}

// Main colors to analogous
@each $key, $val in $colors {
	.bg-g-#{$key} {
		@include d-gradient-analogous(full-saturation($val, 50%));
	}
}

// Main colors to black
@each $key, $val in $colors {
	.bg-g-#{$key}-black {
		@include d-gradient-black(full-saturation($val, 50%));
	}
}

// Main set
.bg-g-black {
	@include d-gradient(#666, #151515);
}
.bg-g-blue {
	@include d-gradient(#01d5f8, #023ae3);
}
.bg-g-purple {
	@include d-gradient(#d027ff, #2614ff);
}
.bg-g-pink {
	@include d-gradient(#f700ff, #e40d49);
}
.bg-g-orange {
	@include d-gradient(#f85b01, #e3024c);
}
.bg-g-yellow {
	@include d-gradient(#e1d300, #ff3c00);
}
.bg-g-green {
	@include d-gradient(#58d900, #0080b3);
}

// Extra
// Pink & aqua
.bg-g-dreamsky {
	@include d-gradient(#ff0af0, #07dcff);
}
// Orange & purple
.bg-g-techvalley {
	@include d-gradient(#ff7816, #8c11df);
}
// Blue & green
.bg-g-seaside {
	@include d-gradient(#5580ff, #33ca09);
}
// Green & pink
.bg-g-watermellon {
	@include d-gradient(#00ff6f, #ff008f);
}
