@mixin list-indent {
	@include xs {
		padding-left: $indent-xs;
	}
	@include sm {
		padding-left: $indent-sm;
	}
	@include md {
		padding-left: $indent-md;
	}
}

@mixin squeeze-indent {
	margin: 1rem 0;
	@include xs {
		margin-left: 0;
		margin-right: 0;
	}
	@include sm {
		margin-left: $indent-sm;
		margin-right: $indent-sm;
	}
	@include md {
		margin-left: $indent-lg;
		margin-right: $indent-lg;
	}
	@include lg {
		margin-left: $indent-xxl;
		margin-right: $indent-xxl;
	}
}