//
// Light Theme
//
// An optional color theme if you prefer to read on a white background
//
// These styles are hacked onto existing styling as the 'dark' theme is the default
// and in this way take precedent. Styles are developed and finalized for the regular
// color theme first. Then light theme support may be optionally added here.
//
// This part of the stylespace should be kept small and minimal since these styles will be 
// updated and tracked all of the time to maintain compatibility with the default theme.
//
// One note: everything about the light theme is kept here except for the toggle
// button styles which are kept in the "_footer.scss" file.
//
// Also, another note: color theming is compleatly ignored here. No rhyme or
// reason for the colors being a way that they are. Mostly, colors are changed
// until readability is at a point that i'm comfortable.
//
//
//

$light-theme-text: #111;
$light-theme-bg: $pure-white;
$light-theme-drop-shadow: $base-box-shadow-spacing #737373; //rgba(0,0,0,0.55)
$light-theme-outline-shadow: 0 0 0 $base-border-thickness $pure-black;

body.light-theme {
	// Toggle button at the footer
	.theme-toggle::before {
		background-image: url("/icons/lightbulb.svg");
	}
	// Disable background texture and halftone
	// Set base font color
	background-image: none;
	background-color: $light-theme-bg;
	color: $light-theme-text;
	#halftone-plate {
		display: none;
	}
	// Anchor tags
	a {
		color: #0b71c8;
		&:link {
		}
		&:visited {
			color: #df0a00;
		}
		&:hover {
			color: #6a36f4;
		}
		&:active {
			color: #e300df;
		}
	}
	// Change anchor icons to black variant
	a:where(.external-link)::after {
		background-image: url("/icons/external-link.svg");
	}
	a:where(.heading-link) {
		i.link::after {
			background-image: url("/icons/link.svg");
		}
	}
	// White with black outline and drop shadow
	code,
	nav > div {
		background-color: $light-theme-bg;
		box-shadow: $light-theme-outline-shadow, $light-theme-drop-shadow;
	}
	// Language specific
	code[class^="language-"] {
		background-color: #404040;
	}
	// Disable gradient
	// Reset link text color
	// Change to black text variant of logo
	nav > div {
		background-image: none;
		.menuname {
			color: $light-theme-text;
		}
		a.menuactive .menuname {
			color: #444;
		}
		#logo-banner #logo-image {
			content: url("/img/logo-light.png");
		}
	}
	footer > div {
		color: #444;
		#website-info .display-ib {
			background: $cornflower;
			color: #fff;
		}
	}
	// Some elements are simply the wrong color now
	// Image display element
	figure figcaption {
		background-color: $light-theme-bg;
		box-shadow: inset $light-theme-outline-shadow;
	}
	// Taxonomy term buttons
	.post-term {
		background-color: $light-theme-bg;
		.term {
			color: #444;
		}
		&:hover {
			background-color: #ddd;
		}
		&:active {
			background-color: #aaa;
		}
		.term-heading .term-title .badge {
			background-color: $light-theme-bg;
			border-color: #ddd;
			color: #222;
		}
	}
	.post-meta {
		color: #000;
		.post-date,
		.author-name {
			color: #444;
		}
	}
	// Expand element
	details {
		background-color: $light-theme-bg;
		&[open] {
			background-color: $light-theme-bg;
			summary {
				background-color: $light-theme-bg;
			}
		}
	}
	// Info panels
	*[class^="panel-"],
	*[class^="simple-panel-"] {
		background-color: $light-theme-bg;
	}
	@each $key, $val in $panel-colors {
		.panel-#{$key} {
			box-shadow: $base-box-shadow-spacing mix($val, $light-theme-bg, 50%);
		}
	}
	@each $key, $val in $colors {
		.simple-panel-#{$key} {
			box-shadow: $base-box-shadow-spacing mix($val, $light-theme-bg, 50%);
		}
	}
	// Headings are big and bold, best to keep them lighter then the rest of the text
	h1,
	h2 {
		color: #666;
	}
	h3,
	h4,
	h5,
	h6 {
		color: #444;
	}
	// Taxonomy list navigation
	ul.pagination {
		li {
			a,
			span {
				color: #333;
				background-color: transparent;
				border: $base-border-thickness #000 solid;
			}
			a {
				&:hover {
					background-color: #ccc;

				}
				&:active {
					background-color: #999;
					border-color: #555;
				}
			}
			span {
				border: $base-border-thickness #009750 solid;
				box-shadow: inset 0 0 0 $base-border-thickness #1df052;
			}
		}
	}
	// Table
	table {
		background-color: $light-theme-bg;
		border-color: #000;
		&.lines {
			background-color: transparent;
			border-color: transparent;
			thead,
			tbody {
				tr {
					th,
					td {
						background-color: $light-theme-bg;
						border-color: #999 #000 #000 #999;
					}
				}
			}
		}
	}
	// Date Separator
	span.ds {
		color: #666;
	}
	// Last Modified
	span.dsm {
		color: #555;
	}
	// Last Build
	span.dsb {
		color: $white;
	}
}
