$light-theme-text: #333;
$light-theme-bg: $pure-white;

body.light-theme {
	.theme-toggle::before {
		background-image: url("/icons/lightbulb.svg");
	}
	background-image: none;
	background-color: $light-theme-bg;
	color: $light-theme-text;
	#halftone-plate {
		display: none;
	}
	a {
		color: #0b71c8;
		&:link {
		}
		&:visited {
			color: #df0a00;
		}
		&:hover {
			color: #6a36f4;
		}
		&:active {
			color: #e300df;
		}
	}
	a:where(.external-link)::after {
		background-image: url("/icons/external-link.svg");
	}
	a:where(.heading-link) {
		i.link::after {
			background-image: url("/icons/link.svg");
		}
	}
	code,
	nav {
		background-image: none;
		background-color: transparent;
		box-shadow: $base-box-shadow, 0 0 0 $base-border-thickness $pure-black;
		a .menuname {
			color: $light-theme-text;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #555;
	}
	figure figcaption {
		background-color: $light-theme-bg;
	}
	.post-term {
		background-color: $light-theme-bg;
		&:hover {
			background-color: #ddd;
		}
		&:active {
			background-color: #aaa;
		}
		.panel-heading .panel-title .badge {
			background-color: $light-theme-bg;
			border-color: #ddd;
			color: #222;
		}
	}
	details {
		background-color: $light-theme-bg;
		&[open] {
			background-color: $light-theme-bg;
			summary {
				background-color: $light-theme-bg;
			}
		}
	}
	*[class^="panel-"],
	*[class^="simple-panel-"] {
		background-color: transparent;
	}
}


