.align-center {
	display: block;
	text-align: center;
}
// Date Separator
span.ds {
	padding: 0 0.0825em;
	color: $gray-300;
}
// Last Modified
span.dsm {
	padding: 0 0.02em;
	color: $gray-400;
}
// Last Build
span.dsb {
	padding: 0 0.04125em;
	color: $gray-100;
}