// Variables
//
//


// Colors
$pure-white:    #fff;
$pure-black:    #000;

$pure-black-and-white: (
	"pure-white": $pure-white,
	"pure-black": $pure-black
);

$white:         #efefef !default;
$black:         #141416 !default;

$black-and-white: (
	"white": $white,
	"black": $black
);

$gray-100:      mix($black, $white, 23.4%) !default;
$gray-200:      mix($black, $white, 40.5%) !default;
$gray-300:      mix($black, $white, 53.3%) !default;
$gray-400:      mix($black, $white, 63.2%) !default;
$gray-500:      mix($black, $white, 71.2%) !default;
$gray-600:      mix($black, $white, 78.0%) !default;
$gray-700:      mix($black, $white, 83.9%) !default;
$gray-800:      mix($black, $white, 89.3%) !default;
$gray-900:      mix($black, $white, 94.3%) !default;

$grays: () !default;
$grays: map-merge(
	(
		"100": $gray-100,
		"200": $gray-200,
		"300": $gray-300,
		"400": $gray-400,
		"500": $gray-500,
		"600": $gray-600,
		"700": $gray-700,
		"800": $gray-800,
		"900": $gray-900
	),
	$grays
);

$code-dark:     #26272d !default;
$code-light:    lighten($code-dark, 10%) !default;
$caption-bg:    #191b1e !default;
$table-bg:      #1c1d22 !default;
$nav-bg:        #363245 !default;
$selection-color: $pure-white !default;
$selection-background: #14598f !default;

$cornflower:    #4769ff !default;
$amethyst:      #7e55eb !default;
$fuchsia:       #ed55ff !default;
$violet:        #f55c9b !default;
$vermilion:     #f5473a !default;
$ocher:         #ff7534 !default;
$amber:         #eb9d38 !default; /* #eba438 */
$dandelion:     #dfbb2c !default; /* #ffd73e */
$chartreuse:    #c1f01a !default; /* #f5f442 */
$emerald:       #51f54a !default;
$caribbean:     #47ffb5 !default;
$turquoise:     #5adaeb !default;
$cerulean:      #4eaeff !default;

$colors: () !default;
$colors: map-merge(
	(
		"cornflower":  $cornflower,
		"amethyst":    $amethyst,
		"fuchsia":     $fuchsia,
		"violet":      $violet,
		"vermilion":   $vermilion,
		"ocher":       $ocher,
		"amber":       $amber,
		"dandelion":   $dandelion,
		"chartreuse":  $chartreuse,
		"emerald":     $emerald,
		"caribbean":   $caribbean,
		"turquoise":   $turquoise,
		"cerulean":    $cerulean
	),
	$colors
);

$primary:       $cornflower !default;
$secondary:     $gray-600 !default;
$success:       $emerald !default;
$info:          $turquoise !default;
$warning:       $dandelion !default;
$danger:        $vermilion !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
	(
		"primary":    $primary,
		"secondary":  $secondary,
		"success":    $success,
		"info":       $info,
		"warning":    $warning,
		"danger":     $danger,
		"light":      $light,
		"dark":       $dark
	),
	$theme-colors
);

$light-cornflower:    lighten-color($cornflower);
$light-amethyst:      lighten-color($amethyst);
$light-fuchsia:       lighten-color($fuchsia);
$light-violet:        lighten-color($violet);
$light-vermilion:     lighten-color($vermilion);
$light-ocher:         lighten-color($ocher);
$light-amber:         lighten-color($amber);
$light-dandelion:     lighten-color($dandelion);
$light-chartreuse:    lighten-color($chartreuse);
$light-emerald:       lighten-color($emerald);
$light-caribbean:     lighten-color($caribbean);
$light-turquoise:     lighten-color($turquoise);
$light-cerulean:      lighten-color($cerulean);

$light-colors: () !default;
$light-colors: map-merge(
	(
		"light-cornflower":  $light-cornflower,
		"light-amethyst":    $light-amethyst,
		"light-fuchsia":     $light-fuchsia,
		"light-violet":      $light-violet,
		"light-vermilion":   $light-vermilion,
		"light-ocher":       $light-ocher,
		"light-amber":       $light-amber,
		"light-dandelion":   $light-dandelion,
		"light-chartreuse":  $light-chartreuse,
		"light-emerald":     $light-emerald,
		"light-caribbean":   $light-caribbean,
		"light-turquoise":   $light-turquoise,
		"light-cerulean":    $light-cerulean
	),
	$light-colors
);

$dark-cornflower:     darken-color($cornflower);
$dark-amethyst:       darken-color($amethyst);
$dark-fuchsia:        darken-color($fuchsia);
$dark-violet:         darken-color($violet);
$dark-vermilion:      darken-color($vermilion);
$dark-ocher:          darken-color($ocher);
$dark-amber:          darken-color($amber);
$dark-dandelion:      darken-color($dandelion);
$dark-chartreuse:     darken-color($chartreuse);
$dark-emerald:        darken-color($emerald);
$dark-caribbean:      darken-color($caribbean);
$dark-turquoise:      darken-color($turquoise);
$dark-cerulean:       darken-color($cerulean);

$dark-colors: () !default;
$dark-colors: map-merge(
	(
		"dark-cornflower":   $dark-cornflower,
		"dark-amethyst":     $dark-amethyst,
		"dark-fuchsia":      $dark-fuchsia,
		"dark-violet":       $dark-violet,
		"dark-vermilion":    $dark-vermilion,
		"dark-ocher":        $dark-ocher,
		"dark-amber":        $dark-amber,
		"dark-dandelion":    $dark-dandelion,
		"dark-chartreuse":   $dark-chartreuse,
		"dark-emerald":      $dark-emerald,
		"dark-caribbean":    $dark-caribbean,
		"dark-turquoise":    $dark-turquoise,
		"dark-cerulean":     $dark-cerulean
	),
	$dark-colors
);

$sample: (
	"01": #C62828,
	"02": #E53935,
	"03": #EF5350,
	"04": #E57373,
	"05": #AD1457,
	"06": #D81B60,
	"07": #EC407A,
	"08": #F06292,
	"09": #6A1B9A,
	"10": #8E24AA,
	"11": #AB47BC,
	"12": #BA68C8,
	"13": #4527A0,
	"14": #5E35B1,
	"15": #7E57C2,
	"16": #9575CD,
	"17": #283593,
	"18": #3949AB,
	"19": #5C6BC0,
	"20": #7986CB,
	"21": #1565C0,
	"22": #1E88E5,
	"23": #42A5F5,
	"24": #64B5F6,
	"25": #0277BD,
	"26": #039BE5,
	"27": #29B6F6,
	"28": #4FC3F7,
	"29": #00838F,
	"30": #00ACC1,
	"31": #26C6DA,
	"32": #4DD0E1,
	"33": #00695C,
	"34": #00897B,
	"35": #26A69A,
	"36": #80CBC4,
	"37": #2E7D32,
	"38": #43A047,
	"39": #66BB6A,
	"40": #81C784,
	"41": #558B2F,
	"42": #7CB342,
	"43": #9CCC65,
	"44": #AED581,
	"45": #9E9D24,
	"46": #C0CA33,
	"47": #D4E157,
	"48": #DCE775,
	"49": #F9A825,
	"50": #FDD835,
	"51": #FFEE58,
	"52": #FFF176,
	"53": #FF8F00,
	"54": #FFB300,
	"55": #FFCA28,
	"56": #FFD54F,
	"57": #EF6C00,
	"58": #FB8C00,
	"59": #FFA726,
	"60": #FFB74D,
	"61": #D84315,
	"62": #F4511E,
	"63": #FF7043,
	"64": #FF8A65,
	"65": #BCAAA4,
	"66": #546E7A,
	"67": #78909C,
	"68": #B0BEC5,
	// Base rainbow
	"69": #FF1627,
	"70": #FF0DA3,
	"71": #FF0BF9,
	"72": #9510FF,
	"73": #3813FF,
	"74": #0917FF,
	"75": #0C77FF,
	"76": #07C2FF,
	"77": #04FFF0,
	"78": #05FFA4,
	"79": #00FC12,
	"80": #8EFF01,
	"81": #F5FF00,
	"82": #FBB200,
	"83": #FB8500,
	"84": #FF4C00,
	// Extra
	"85": #BF1A2F,
	"86": #F00699,
	"87": #454E9E,
	"88": #018E42,
	"89": #F7D002,
	"90": #E8F1F2,
	"91": #B3EFB2,
	"92": #7A9E7E,
	"93": #31493C,
	"94": #001A23,
	"95": #D81159,
	"96": #8F2D56,
	"97": #218380,
	"98": #FBB13C,
	"99": #73D2DE,
	"100": #F6EFA6,
	"101": #F0D2D1,
	"102": #8EB19D,
	"103": #66B3BA,
	"104": #42CAFD,
	"105": #613A3A,
	"106": #60993E,
	"107": #A1E44D,
	"108": #77FF94,
	"109": #7AFDD6,
	"110": #383F51,
	"111": #DDDBF1,
	"112": #3C4F76,
	"113": #88A2AA,
	"114": #E2856E,
	"115": #F42C04,
	"116": #EDE3E9,
	"117": #3A2618,
	"118": #754043,
	"119": #9A8873,
	"120": #37423D,
	"121": #7F055F,
	"122": #E5A4CB,
	"123": #FBBA72,
	"124": #8F250C,
	"125": #691E06,
	"126": #BB4D00,
	"127": #51291E,
	"128": #FDE74C,
	"129": #5BC0EB,
	"130": #9BC53D,
	"131": #C3423F,
	"132": #211A1E,
	"133": #817E9F,
	"134": #7FC29B,
	"135": #EFEFEF,
	"136": #3454D1,
	"137": #D1345B,
	"138": #34D1BF,
	"139": #FAD4C0,
	"140": #64B6AC,
	"141": #32533D,
	"142": #F374AE,
	"143": #ED9390,
	"144": #E6B89C,
	"145": #541388,
	"146": #FFD400,
	"147": #D90368,
	"148": #2E294E
);

// End colors




// Sizes
$page-max-width: 60rem;


// Font sizes
// ** Design made using 1rem = 16px
// Everything spacing-wise (except for the webkit scrollbar) is using
// the default browser font size as a basis for spacing and size.
$base-font-size: 1rem;
$font-size-xxl: $base-font-size * 1.75;
$font-size-xl:  $base-font-size * 1.5;
$font-size-lg:  $base-font-size * 1.17;
$font-size-md:  $base-font-size * 1;
$font-size-sm:  $base-font-size * 0.83;
$font-size-xs:  $base-font-size * 0.67;


// Spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;
$body-margin: 0.625rem;

// indent
$base-indent: 2.5rem;
$indent-xxl: $base-indent * 1.75;
$indent-xl: $base-indent * 1.5;
$indent-lg: $base-indent * 1.25;
$indent-md: $base-indent * 1;
$indent-sm: $base-indent * 0.75;
$indent-xs: $base-indent * 0.5;

// heading
$h1-margin: $base-font-size * 1.315;
$h2-margin: $base-font-size * 1.245;
$h3-margin: $base-font-size * 1.17;
$h4-margin: $base-font-size * 1.33;
$h5-margin: $base-font-size * 1.3861;
$h6-margin: $base-font-size * 1.5611;

// btn padding
$btn-padding-vertical:   $base-padding * 0.68;
$btn-padding-horizontal: $base-padding * 2.2;

// nav padding
$nav-vertical-padding:   $base-padding * 0.75;
$nav-horizontal-padding: $base-margin;


// Borders
$rounded-corners: false; // Disables border-radius across all styles
$base-border-thickness: 0.0625rem;
$base-border-radius: 0.25rem;
$term-border-radius: 1rem;


// Scrollbar
$scrollbar-thumb-color: $gray-200;
$scrollbar-track-color: rgba(0,0,0,0.3);
$scrollbar-webkit-track-hover: $gray-800;
$scrollbar-webkit-width: 1rem;
$scrollbar-webkit-border-radius: $base-border-radius;


// Box-shadow
$base-box-shadow-spacing: 0.25rem 0.5rem 0;
$base-box-shadow: $base-box-shadow-spacing rgba(0,0,0,0.55);
