// Variables
//
//


// Colors
$pure-white:    #fff;
$pure-black:    #000;

$pure-black-and-white: (
	"pure-white": $pure-white,
	"pure-black": $pure-black
);

$white:         #efefef !default;
$black:         #141416 !default;

$black-and-white: (
	"white": $white,
	"black": $black
);

$gray-100:      mix($black, $white, 23.4%) !default;
$gray-200:      mix($black, $white, 40.5%) !default;
$gray-300:      mix($black, $white, 53.3%) !default;
$gray-400:      mix($black, $white, 63.2%) !default;
$gray-500:      mix($black, $white, 71.2%) !default;
$gray-600:      mix($black, $white, 78.0%) !default;
$gray-700:      mix($black, $white, 83.9%) !default;
$gray-800:      mix($black, $white, 89.3%) !default;
$gray-900:      mix($black, $white, 94.3%) !default;

$grays: () !default;
$grays: map-merge(
	(
		"100": $gray-100,
		"200": $gray-200,
		"300": $gray-300,
		"400": $gray-400,
		"500": $gray-500,
		"600": $gray-600,
		"700": $gray-700,
		"800": $gray-800,
		"900": $gray-900
	),
	$grays
);

$code-dark:     #26272d !default;
$code-light:    lighten($code-dark, 10%) !default;
$caption-bg:    #191b1e !default;
$table-bg:      #1c1d22 !default;
$nav-bg:        #363245 !default;
$selection-color: $pure-white !default;
$selection-background: #14598f !default;

$cornflower:    #4769ff !default;
$amethyst:      #7e55eb !default;
$fuchsia:       #ed55ff !default;
$violet:        #f55c9b !default;
$vermilion:     #f5473a !default;
$ocher:         #ff7534 !default;
$amber:         #eb9d38 !default; /* #eba438 */
$dandelion:     #dfbb2c !default; /* #ffd73e */
$chartreuse:    #c1f01a !default; /* #f5f442 */
$emerald:       #51f54a !default;
$caribbean:     #47ffb5 !default;
$turquoise:     #5adaeb !default;
$cerulean:      #4eaeff !default;

$colors: () !default;
$colors: map-merge(
	(
		"cornflower":  $cornflower,
		"amethyst":    $amethyst,
		"fuchsia":     $fuchsia,
		"violet":      $violet,
		"vermilion":   $vermilion,
		"ocher":       $ocher,
		"amber":       $amber,
		"dandelion":   $dandelion,
		"chartreuse":  $chartreuse,
		"emerald":     $emerald,
		"caribbean":   $caribbean,
		"turquoise":   $turquoise,
		"cerulean":    $cerulean
	),
	$colors
);

$primary:       $cornflower !default;
$secondary:     $gray-600 !default;
$success:       $emerald !default;
$info:          $turquoise !default;
$warning:       $dandelion !default;
$danger:        $vermilion !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
	(
		"primary":    $primary,
		"secondary":  $secondary,
		"success":    $success,
		"info":       $info,
		"warning":    $warning,
		"danger":     $danger,
		"light":      $light,
		"dark":       $dark
	),
	$theme-colors
);

$light-cornflower:    lighten-color($cornflower);
$light-amethyst:      lighten-color($amethyst);
$light-fuchsia:       lighten-color($fuchsia);
$light-violet:        lighten-color($violet);
$light-vermilion:     lighten-color($vermilion);
$light-ocher:         lighten-color($ocher);
$light-amber:         lighten-color($amber);
$light-dandelion:     lighten-color($dandelion);
$light-chartreuse:    lighten-color($chartreuse);
$light-emerald:       lighten-color($emerald);
$light-caribbean:     lighten-color($caribbean);
$light-turquoise:     lighten-color($turquoise);
$light-cerulean:      lighten-color($cerulean);

$light-colors: () !default;
$light-colors: map-merge(
	(
		"light-cornflower":  $light-cornflower,
		"light-amethyst":    $light-amethyst,
		"light-fuchsia":     $light-fuchsia,
		"light-violet":      $light-violet,
		"light-vermilion":   $light-vermilion,
		"light-ocher":       $light-ocher,
		"light-amber":       $light-amber,
		"light-dandelion":   $light-dandelion,
		"light-chartreuse":  $light-chartreuse,
		"light-emerald":     $light-emerald,
		"light-caribbean":   $light-caribbean,
		"light-turquoise":   $light-turquoise,
		"light-cerulean":    $light-cerulean
	),
	$light-colors
);

$dark-cornflower:     darken-color($cornflower);
$dark-amethyst:       darken-color($amethyst);
$dark-fuchsia:        darken-color($fuchsia);
$dark-violet:         darken-color($violet);
$dark-vermilion:      darken-color($vermilion);
$dark-ocher:          darken-color($ocher);
$dark-amber:          darken-color($amber);
$dark-dandelion:      darken-color($dandelion);
$dark-chartreuse:     darken-color($chartreuse);
$dark-emerald:        darken-color($emerald);
$dark-caribbean:      darken-color($caribbean);
$dark-turquoise:      darken-color($turquoise);
$dark-cerulean:       darken-color($cerulean);

$dark-colors: () !default;
$dark-colors: map-merge(
	(
		"dark-cornflower":   $dark-cornflower,
		"dark-amethyst":     $dark-amethyst,
		"dark-fuchsia":      $dark-fuchsia,
		"dark-violet":       $dark-violet,
		"dark-vermilion":    $dark-vermilion,
		"dark-ocher":        $dark-ocher,
		"dark-amber":        $dark-amber,
		"dark-dandelion":    $dark-dandelion,
		"dark-chartreuse":   $dark-chartreuse,
		"dark-emerald":      $dark-emerald,
		"dark-caribbean":    $dark-caribbean,
		"dark-turquoise":    $dark-turquoise,
		"dark-cerulean":     $dark-cerulean
	),
	$dark-colors
);
// End colors




// Sizes
$page-max-width: 60rem;


// Font sizes
// ** Design made using 1rem = 16px
// Everything spacing-wise (except for the webkit scrollbar) is using
// the default browser font size as a basis for spacing and size.
$base-font-size: 1rem;
$font-size-xxl: $base-font-size * 1.75;
$font-size-xl:  $base-font-size * 1.5;
$font-size-lg:  $base-font-size * 1.17;
$font-size-md:  $base-font-size * 1;
$font-size-sm:  $base-font-size * 0.83;
$font-size-xs:  $base-font-size * 0.67;


// Spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;
$body-margin: 0.625rem;

// indent
$base-indent: 2.5rem;
$indent-xxl: $base-indent * 1.75;
$indent-xl: $base-indent * 1.5;
$indent-lg: $base-indent * 1.25;
$indent-md: $base-indent * 1;
$indent-sm: $base-indent * 0.75;
$indent-xs: $base-indent * 0.5;

// heading
$h1-margin: $base-font-size * 1.315;
$h2-margin: $base-font-size * 1.245;
$h3-margin: $base-font-size * 1.17;
$h4-margin: $base-font-size * 1.33;
$h5-margin: $base-font-size * 1.3861;
$h6-margin: $base-font-size * 1.5611;

// btn padding
$btn-padding-vertical:   $base-padding * 0.68;
$btn-padding-horizontal: $base-padding * 2.2;

// nav padding
$nav-vertical-padding:   $base-padding * 0.75;
$nav-horizontal-padding: $base-margin;


// Scrollbar
$scrollbar-thumb-color: $gray-200;
$scrollbar-track-color: rgba(0,0,0,0.3);
$scrollbar-webkit-track-width: 14px;
$scrollbar-webkit-thumb-border-radius: 4px;
$scrollbar-webkit-thumb-border: none;


// Borders
$base-border-thickness: 0.0625rem;
$base-border-radius: 0.25rem;


// Box-shadow
$base-box-shadow: 0.25rem 0.5rem 0 rgba(0,0,0,0.55);
