// Variables
//
//


// Background
$bg-texture-path: "/img/background.webp";
$show-bg-texture: true;
$show-bg-halftone: true;


// Sizes
$page-max-width: 48rem;


// Spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;
$body-margin: 0.875rem;
// Body text indent
$pbm-compact: 0.375rem;
$pbm-expand:  0.25rem;


// Breakpoints
$content-max-width: $page-max-width + $body-margin * 2;


// Table of Contents
$toc-loose-margin: 2rem; // Margin around container
$toc-loose-min-width: 22rem; // Free space required on the side of the page to move the table over
$toc-loose-max-width: 28rem; // Max space toc can take up; cannot be smaller than $toc-loose-min-width
// Side mode list indent breakpoints
// (if larger than the maximum width, breakpoint will not be used)
$tocs-indent-start-lg: 18rem;
$tocs-indent-start-md: 12rem;
$tocs-indent-start-sm: 6rem;


// Font sizes
// ** Designed using 16px browser default
// Everything is using browser font size as a reference, except for the webkit scrollbar
$base-font-size: 1rem;
$font-size-xxl: $base-font-size * 1.9;
$font-size-xl:  $base-font-size * 1.5;
$font-size-lg:  $base-font-size * 1.17;
$font-size-sm:  $base-font-size * 0.83;
$font-size-xs:  $base-font-size * 0.67;


// Indent
$base-indent: 2.5rem;
$indent-xxl: $base-indent * 1.75;
$indent-xl: $base-indent * 1.5;
$indent-lg: $base-indent * 1.25;
$indent-md: $base-indent * 1;
$indent-sm: $base-indent * 0.75;
$indent-xs: $base-indent * 0.5;


// Button padding
$btn-padding-vertical:   $base-padding * 0.75;
$btn-padding-horizontal: $base-padding * 2.2;


// Navigation padding
$nav-vertical-padding:   $base-padding * 0.75;
$nav-horizontal-padding: $base-margin;


// Borders
$rounded-corners: false; // False: Disables border-radius across all styles
$base-border-thickness: 0.0625rem;
$base-border-radius: 0.25rem;
$term-border-radius: 0.25rem;


// Heading
$h1-size: $font-size-xxl;
$h2-size: $font-size-xl;
$h3-size: $font-size-lg;
$h4-size: $base-font-size;
$h5-size: $base-font-size;
$h6-size: $base-font-size;

$h1-margin: $base-font-size * 1.315;
$h2-margin: $base-font-size * 1.245;
$h3-margin: $base-font-size * 1.17;
$h4-margin: $base-font-size * 1.33;
$h5-margin: $base-font-size * 1.3861;
$h6-margin: $base-font-size * 1.5611;

$h1-word-spacing: 0.015em;
$h2-word-spacing: 0.015em;
$h3-word-spacing: 0.035em;
$h4-word-spacing: 0.035em;
$h5-word-spacing: 0.05em;
$h6-word-spacing: 0.05em;

$h1-page-weight: 500;
$h2-page-weight: 500;
$h3-page-weight: 900;
$h4-page-weight: 900;
$h5-page-weight: 700;
$h6-page-weight: 700;

$h1-page-letter-spacing: 0.01em;
$h2-page-letter-spacing: 0.01em;
$h3-page-letter-spacing: 0.03em;
$h4-page-letter-spacing: 0.03em;
$h5-page-letter-spacing: 0.02em;
$h6-page-letter-spacing: 0.02em;

// Forehead clearance multiplier
// Extra space above heading
// 0 = no extra space, normal padding
$page-heading-base-fc-mult: 1;

// Target marker visual size
$heading-target-marker-width: $base-border-thickness * 3;


// Scrollbar
$scrollbar-thumb-color: $gray-200;
$scrollbar-track-color: rgba(0,0,0,0.3);
$scrollbar-webkit-track-hover: $gray-800;
$scrollbar-webkit-width: 1rem;
$scrollbar-webkit-border-radius: $base-border-radius; // not used if $rounded-corners=false


// Box shadow
$base-box-shadow-spacing: $base-padding * 0.5 $base-padding 0;
$base-box-shadow: $base-box-shadow-spacing rgba(0,0,0,0.55);
