body {
	margin: 0;
	font-family: sans-serif;
	letter-spacing: -0.01em;
	line-height: 1.425;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-variant-ligatures: contextual;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	background: #141414;
	color: #efefef;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
button {
    background-color: #141414;
    border: 1px #efefef solid;
    border-radius: 4px;
    padding: 4px 12px;
	margin: 1rem;
	color: #efefef;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}
button:hover,
button:active {
    background-color: #efefef;
	color: #141414;
    cursor: pointer;
}
div {
	border: 1px #efefef solid;
	border-radius: 4px;
	padding: 1rem 2rem;
	margin: 1rem;
}
h1,
h3 {
	text-align: center;
}

@media (min-width: 0) {
	div {
		padding: 1rem 1rem;
	}
}
@media (min-width: 480px) {
	button {
		margin: 1rem;
	}
	div {
		padding: 1rem 2rem;
		margin: 1rem;
	}
}
@media (min-width: 720px) {
	button {
		margin: 1.5rem;
	}
	div {
		margin: 1.5rem;
	}
}
@media (min-width: 960px) {
	button {
		margin: 2rem;
	}
	div {
		margin: 2rem;
	}
}
@media (min-width: 1200px) {
	button {
		margin: 3rem;
	}
	div {
		margin: 3rem;
	}
}
