			<section id="article-info">
				{{ if .Param "nextprev" }}{{ partial "nextprev.html" . }}{{ end -}}
				{{- if and (eq .Kind "page") (ne .Type "page") }}
					{{ partialCached "bottom-of-post.html" . }}
				{{ end -}}
			</section>
			<hr>
			{{- partialCached "footer_static.html" . }}
			<div id="site-extra">
				{{- if .Param "showSource" -}}
				{{- with .Param "source" -}}
				<a href="{{ . }}" target="_blank" rel="noopener" title="View this site's source code">
					<div class="btn-cerulean">View Source</div>
				</a>
				{{- end -}}
				{{- end -}}

				{{- if .Param "showRSS" -}}
				<a id="rss-feed-link" href="/index.xml" target="_blank" title="Subscribe via RSS for updates. People still use RSS right?">
					<div class="btn-ocher">RSS Main Feed</div>
				</a>
				{{- end -}}

				{{- if .Param "switchSiteURL" -}}
				{{- $switchPage := "/" -}}
				{{- $currentPage := .RelPermalink -}}
				{{- if ne $currentPage "/404.html" }}{{ $switchPage = $currentPage }}{{ end -}}
				<a href="{{ .Param "switchSiteURL" }}{{ $switchPage }}" rel="nofollow" title="View a simplified version of this page. This may be easier to read/load on some hardware">
					<div class="btn-vermilion">{{ i18n "switchSites" }}</div>
				</a>
				{{- end -}}

				{{- if .Param "showThemeToggle" -}}
				<div class="theme-toggle" title="Click to change theme (light/dark)"></div>
				{{- end -}}
			</div>

			{{- partialCached "theme-switcher/script-btn.html" . -}}

