		{{- $has_subtitle := isset .Params "subtitle" -}}
		
		{{ $subtitle_plain := "" -}}
		{{ if $has_subtitle }}{{ $subtitle_plain = .Params.subtitle | markdownify | plainify }}{{ end -}}
		
		{{ $title_plain := "" -}}
		{{ if .IsHome -}}
			{{ $title_plain = .Site.Title | markdownify | plainify -}}
		{{ else if $has_subtitle -}}
			{{ $title_plain = printf "%s" .Site.Title | printf "%s | %s" ($subtitle_plain | truncate 40) | printf "%s | %s" (.Title | title) | printf "%s" -}}
		{{ else -}}
			{{ $title_plain = printf "%s" .Site.Title | printf "%s | %s" (.Title | title) | printf "%s" | markdownify | plainify -}}
		{{ end -}}
		
		{{ $description_plain := "" -}}
		{{ with .Params.description -}}
			{{ $description_plain = . | markdownify | plainify -}}
		{{ else -}}
			{{ $description_plain = .Summary | markdownify | plainify -}}
		{{ end }}
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="robots" content="index,follow"/>
		<meta name="googlebot" content="index,follow,snippet,archive"/>
		<title>{{ $title_plain }}</title>
		<meta name="description" content="{{ $description_plain }}"/>
		{{ if isset .Params "tags" }}<meta name="keywords" content="{{ delimit .Params.tags ", " }}"/>{{ end }}
{{ partialCached "preload.html" . }}
		{{ $options := dict "transpiler" "libsass" "targetPath" "css/fonts.css" -}}
		{{ with resources.Get "scss/fonts.scss" | toCSS $options | minify | fingerprint -}}
			<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"/>
		{{ end -}}
		{{ $options := dict "transpiler" "libsass" "targetPath" "css/style.css" -}}
		{{ with resources.Get "scss/main.scss" | toCSS $options | minify | fingerprint -}}
			<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"/>
		{{ end -}}
		<link rel="stylesheet" href="/css/print.css" media="print"/>
		
		<link rel="canonical" href="{{ .Permalink }}"/>
		<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS" href="/index.xml"/>
		
		<link rel="apple-touch-icon" sizes="180x180" href="{{ "img/apple-touch-icon.png" | relURL }}" />
		<link rel="icon" type="image/png" sizes="128x128" href="{{ "img/favicon-128x128.png" | relURL }}" />
		<link rel="icon" type="image/png" sizes="64x64" href="{{ "img/favicon-64x64.png" | relURL }}" />
		<link rel="icon" type="image/png" sizes="32x32" href="{{ "img/favicon-32x32.png" | relURL }}" />
		<link rel="icon" type="image/png" sizes="16x16" href="{{ "img/favicon-16x16.png" | relURL }}" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ "img/favicon.ico" | relURL }}" />

		<!-- OpenGraph tags -->
		{{- $is_blog := and (eq .Type "posts") (eq .Kind "page") -}}
		{{ $has_image := isset .Params "image" -}}
		{{ $imageLink := cond $has_image .Params.image (.Site.Params.default_sharing_image | default "img/sharing-default.png") -}}
		{{ $image := "" -}}
		{{ if findRE "(^(https?:)?//)" (lower $imageLink) -}}
			{{ with resources.GetRemote $imageLink -}}
				{{ with .Err -}}
					{{ errorf "%s" . -}}
				{{ else -}}
					{{ $image = . -}}
				{{ end -}}
			{{ else -}}
				{{ errorf "Unable to get remote resource %q" $imageLink -}}
			{{ end -}}
		{{ else -}}
			{{ with .Resources.GetMatch $imageLink -}}
				{{ $image = . -}}
			{{ end -}}
		{{ end -}}

		<meta property="og:locale" content="{{ replace .Site.LanguageCode "-" "_" }}">
		<meta property="og:site_name" content="{{ .Site.Title }}">
		<meta property="og:title" content="{{ $title_plain }}">
		<meta property="og:type" content="{{ cond $is_blog "article" "website" }}">
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:description" content="{{ $description_plain }}">
	{{- with $image }}
		{{ $image_ext := path.Ext $imageLink -}}
		<meta property="og:image" content="{{ .RelPermalink }}">
		<meta property="og:image:type" content="image/{{ if eq $image_ext ".svg" }}svg+xml{{ else }}{{ trim $image_ext "." }}{{ end }}">
		{{- with .Params.imageAlt }}<meta property="og:image:alt" content="{{ . | markdownify | plainify }}">{{ end }}
		<meta property="og:image:width" content="{{ .Width }}">
		<meta property="og:image:height" content="{{ .Height }}">
	{{- end }}

		{{ with .Lastmod }}<meta property="og:updated_time" content="{{ .Format "2006-01-02T15:04:05Z0700" }}">{{ end }}
	{{ if $is_blog -}}
		{{ with .Params.categories }}<meta property="article:section" content="{{ index . 0 }}">{{ end }}
		{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">
		{{ end -}}
		{{ if gt .ExpiryDate .PublishDate }}<meta property="article:expiration_time" content="{{ .ExpiryDate.Format "2006-01-02T15:04:05Z0700" }}">{{ end }}
		{{ with .PublishDate }}<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z0700" }}">{{ end }}
		{{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z0700" }}">{{ end }}
	{{ end -}}

		{{- partialCached "analytics.html" . -}}