{{ if .IsHome -}}
{{/*	{{ if .Site.Params.homeTitle }}{{ $.Scratch.Set "title" .Site.Params.homeTitle }}{{ else }}{{ $.Scratch.Set "title" .Site.Title }}{{ end -}}
	{{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end -}} */}}
{{ else -}}
	{{- if eq .Kind "term" -}}
		{{- $.Scratch.Set "term" (humanize .Data.Singular) -}}
	{{- end -}}
	{{ $.Scratch.Set "title" .Title -}}
	{{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end -}}
{{ end -}}
{{ $term := $.Scratch.Get "term" -}}
{{ $title := $.Scratch.Get "title" -}}
{{ $subtitle := $.Scratch.Get "subtitle" }}
		{{- if $title }}
			<div class="intro-header {{ .Kind }}-header">
				{{ if $imageLink := .Params.image -}}

					{{ $image := "" }}
					{{ if findRE "(^(https?:)?//)" (lower $imageLink) -}}
						{{ with resources.GetRemote $imageLink -}}
							{{ with .Err -}}
								{{ errorf "%s" . -}}
							{{ else -}}
								{{ $image = . -}}
							{{ end -}}
						{{ else -}}
							{{ errorf "Unable to get remote resource %q in %s" $imageLink .Page -}}
						{{ end -}}
					{{ else -}}
						<!-- Look for file in global res -->
						{{ with resources.Get $imageLink -}}
							{{ with .Err -}}
								{{ errorf "%s" . -}}
							{{ else -}}
								{{ $image = . -}}
							{{ end -}}
						{{ else -}}
							<!-- Look for file in page res -->
							{{ with $.Page.Resources.GetMatch $imageLink -}}
								{{ with .Err -}}
									{{ errorf "%s" . -}}
								{{ else -}}
									{{ $image = . -}}
								{{ end -}}
							{{ else -}}
								{{ errorf "Unable to get local resource %q in %s" $imageLink .Page -}}
							{{ end -}}
						{{ end -}}
					{{ end -}}
					
					{{ $image := $image.Process "resize 670x Lanczos q85 webp" }}

					<img src="{{ $image.RelPermalink }}"{{ with .Params.imageAlt }} alt="{{ . }}"{{ end }} class="img-header" width="{{ $image.Width }}" height="{{ $image.Height }}"/>
				{{ end -}}
				<div class="header-text {{ .Type }}-header-text">
					{{ if and (eq .Type "posts") .IsPage -}}
						{{ partial "post_meta.html" . -}}
					{{ end }}
					<h1 class="heading {{ .Type }}-heading">
						{{- with $term }}{{ . }}: {{ end }}{{ with $title }}{{ . }}{{ else }}<br/>{{ end -}}{{- if .Param "draft" }} {{ i18n "draft" }}{{ end -}}
					</h1>
					{{- if eq .Kind "section" }}
						{{- with .Paginator }}
							{{- if ne .TotalPages 1 }}
								<div class="subheading page-number">Page: {{ .PageNumber }}</div>
							{{ end -}}
						{{ end -}}
					{{ end -}}
					{{ if $subtitle -}}
						{{ if eq .Type "page" -}}
						<div class="subheading {{ .Type }}-subheading">{{ $subtitle }}</div>
						{{ else -}}
						<h3 class="subheading {{ .Type }}-subheading">{{ $subtitle }}</h3>
						{{ end -}}
					{{ end -}}
				</div>
				<hr class="small"/>
			</div>
		{{ end -}}