{{ if .IsHome -}}
{{/*	{{ if .Site.Params.homeTitle }}{{ $.Scratch.Set "title" .Site.Params.homeTitle }}{{ else }}{{ $.Scratch.Set "title" .Site.Title }}{{ end -}}
	{{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end -}} */}}
{{ else -}}
	{{- if eq .Kind "term" -}}
		{{- $.Scratch.Set "term" (humanize .Data.Singular) -}}
	{{- end -}}
	{{ $.Scratch.Set "title" .Title -}}
	{{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end -}}
{{ end -}}
{{ $term := $.Scratch.Get "term" -}}
{{ $title := $.Scratch.Get "title" -}}
{{ $subtitle := $.Scratch.Get "subtitle" }}
		<header>
		{{- if $title }}
			<div class="intro-header {{ .Kind }}-header">
				{{ if .Params.image -}}
					<img src="{{ .Params.image }}" alt="{{ i18n "missingImage" }}" class="img-header" />
				{{ end -}}
				<div class="header-text {{ .Type }}-header-text">
					{{ if and (eq .Type "posts") .IsPage -}}
						{{ partial "post_meta.html" . -}}
					{{ end }}
					<h1 class="heading {{ .Type }}-heading">
						{{- with $term }}{{.}}: {{ end }}{{ with $title }}{{.}}{{ else }}<br/>{{ end -}}{{- if .Param "draft" }} {{ i18n "draft" }}{{ end -}}
					</h1>
					{{- if eq .Kind "section" }}
						{{- with .Paginator }}
							{{- if ne .TotalPages 1 }}
								<div class="subheading page-number">Page: {{ .PageNumber }}</div>
							{{ end -}}
						{{ end -}}
					{{ end -}}
					{{ if $subtitle -}}
						{{ if eq .Type "page" -}}
						<div class="subheading {{ .Type }}-subheading">{{ $subtitle }}</div>
						{{ else -}}
						<h3 class="subheading {{ .Type }}-subheading">{{ $subtitle }}</h3>
						{{ end -}}
					{{ end -}}
				</div>
				<hr class="small">
			</div>
		{{ end -}}
		</header>