		<nav>
			<div id="logo-banner">
				<a href="/" title="Back to home"><img id="logo-fallback" height="56px" src="/logo-light.png"><img id="logo-image" height="0" src="/logo.png"></a>
			</div>
			<ul>
			{{- $sec := .Page.Section -}}
			{{- $file := "" -}}
			{{- with .File }}{{ $file = .TranslationBaseName }}{{ end -}}
			{{ range.Site.Menus.main.ByWeight }}{{ $base := path.Base .URL }}
				<li><a {{ if or ( eq $sec $base ) ( eq $file $base ) ( and (eq $sec "") ( eq $file "_index") (eq $base "/") ) }}class="menuactive" {{ end }}href="{{ .URL }}"><span class=pre>{{ .Pre }}</span><span class=menuname>{{ .Name }}</span></a></li>
			{{- end }}
			</ul>
		</nav>