<div class="post-meta">
	{{- $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format -}}
	{{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format -}}
	{{ $datestr | i18n "postedOnDate" -}}
	{{ if ne $datestr $lastmodstr }}
		&nbsp;{{ $lastmodstr | i18n "lastModified" -}}
	{{ end -}}
{{ if ne .WordCount 0 -}}
	{{ if .Site.Params.readingTime -}}
		&nbsp;|&nbsp;{{ i18n "readingTime"}}&nbsp;{{ .ReadingTime }}&nbsp;{{ i18n "readTime" -}}
	{{ end -}}
	{{ if .Site.Params.wordCount -}}
		&nbsp;|&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" -}}
	{{ end -}}
{{- end }}
	{{ if not .Site.Params.hideAuthor -}}
		{{ if .Params.author -}}
		{{ if reflect.IsSlice .Params.author -}}
			{{ range .Params.author -}}
			&nbsp;|&nbsp;{{ . | safeHTML -}}
		{{ end -}}
		{{ else -}}
			&nbsp;|&nbsp;{{ .Params.author | safeHTML -}}
		{{ end -}}
		{{ else -}}
			&nbsp;|&nbsp;{{ .Site.Author.name | safeHTML -}}
		{{ end -}}
	{{ end -}}
{{ if .Site.Params.metaTags -}}
{{ if .Params.tags -}}

{{- $tagsLen := len .Params.tags -}}
{{- if gt $tagsLen 0 -}}
	<span class="blog-tags">
		&nbsp;|&nbsp;in
	{{ range .Params.tags -}}
		{{- $url := printf "tags/%s/" (. | urlize | lower) -}}
		<a id="tag_{{ . | lower }}" href="{{ $url | absURL }}">{{ . }}</a>&nbsp;
		{{- if lt . (sub $tagsLen 1) }}, {{ end -}}
	{{- end }}
	</span>
{{- end -}}

{{- end }}
{{- end }}
</div>
