<section class="post-preview">
	<a href="{{ .RelPermalink }}" class="post-link">
		<h2 class="post-title">
			{{- .Title -}}
			{{- if .Param "draft" }} {{ i18n "draft" }}{{ end -}}
		</h2>
	
{{ if .Site.Params.showPreviewImage -}}
	{{ if .Params.image -}}
		{{- $imageLink := "" -}}
		{{ if findRE "(^(https?:)?//|^/)" (lower .Params.image) -}}
			{{- $imageLink = .Params.image -}}
		{{ else -}}
			{{- $imageLink = print (.RelPermalink) (.Params.image) -}}
		{{- end }}
		<div class="img-title"><img src="{{ $imageLink }}"{{ with .Params.imageAlt }} alt="{{ . }}"{{ end }} /></div>
	{{- end }}
{{- end }}
	</a>
{{ if .Site.Params.showPreviewVideo -}}
	{{ if .Params.video -}}
		<video loop autoplay muted playsinline class="img-title">
			<source src="{{ .Params.video }}"/>
		</video>
	{{- end }}
{{- end }}
{{ if eq .Type "posts" -}}
	{{ partial "post_meta.html" . }}
{{- end -}}

{{ if .Params.subtitle -}}
	<h4 class="post-subtitle">
		{{ .Params.subtitle }}
	</h4>
{{- end }}

{{- if .Site.Params.showPreviewSummary -}}
{{ if ne .WordCount 0 -}}
	<div class="post-entry">
	{{ if .Site.Params.summaryMaxChar -}}
		{{ substr (htmlUnescape .Summary) 0 .Site.Params.summaryMaxChar }}...
	{{ else -}}
		{{ .Summary }}
	{{- end }}
	{{ if .Truncated -}}
		<a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
	{{- end }}
	</div>
{{- end }}
{{- end }}
</section>