<div class="post-meta">
	{{- $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format -}}
	{{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format -}}
	<span class="post-date">{{ $datestr | i18n "postedOnDate" -}}</span>
	{{- if ne $datestr $lastmodstr -}}
		&nbsp;<span class="post-last-modified">{{ $lastmodstr | i18n "lastModified" -}}</span>
	{{- end -}}
{{ if ne .WordCount 0 -}}
	{{ if .Site.Params.readingTime -}}
		&nbsp;&middot;&nbsp;<span class="post-reading-time">{{ .ReadingTime }}&nbsp;{{ i18n "readTime" .ReadingTime }}&nbsp;{{ i18n "toRead" -}}</span>
	{{- end -}}
	{{- if .Site.Params.wordCount -}}
		&nbsp;&middot;&nbsp;<span class="post-word-count">{{ .WordCount }}&nbsp;{{ i18n "words" .WordCount -}}</span>
	{{- end -}}
{{- end }}
{{- if not .Site.Params.hideAuthor -}}
	{{- if .Params.author -}}
		{{- if reflect.IsSlice .Params.author -}}
			&nbsp;&middot;&nbsp;{{ i18n "authoredBy" }}&nbsp;
			{{- range .Params.author -}}
				<span class="author-name">{{ . | safeHTML -}},&nbsp;</span>
			{{- end -}}
		{{- else -}}
			&nbsp;&middot;&nbsp;{{ i18n "authoredBy" }}&nbsp;<span class="author-name">{{ .Params.author | safeHTML -}}</span>
		{{- end -}}
	{{- else -}}
		&nbsp;&middot;&nbsp;{{ i18n "authoredBy" }}&nbsp;<span class="author-name">{{ .Site.Author.name | safeHTML -}}</span>
	{{- end -}}
{{- end -}}
{{- if and .Params.tags (not .Site.Params.hideTags) -}}
{{- $tagsLen := len .Params.tags -}}
{{- if gt $tagsLen 0 -}}
	&nbsp;&middot;&nbsp;{{ i18n "inTags" }}&nbsp;<span class="post-tags">
	{{- range $key, $value := .Params.tags -}}
		{{- $url := printf "tags/%s/" (. | urlize | lower) -}}
		<a id="tag_{{ . | lower }}" href="{{ $url | absURL }}">{{ . }}</a>{{ if lt $key (sub $tagsLen 1) }},&nbsp;{{ end }}
	{{- end -}}
	</span>
{{- end -}}
{{- end -}}
</div>