<div class="post-meta">
	{{- $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format -}}
	{{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format -}}
	{{ $datestr | i18n "postedOnDate" -}}
	{{ if ne $datestr $lastmodstr }}
		&nbsp;{{ $lastmodstr | i18n "lastModified" -}}
	{{ end -}}
{{ if ne .WordCount 0 -}}
	{{ if .Site.Params.readingTime -}}
		&nbsp;&middot;&nbsp;{{ .ReadingTime }}&nbsp;{{ i18n "readTime" .ReadingTime -}}&nbsp;{{ i18n "toRead" }}
	{{- end -}}
	{{ if .Site.Params.wordCount -}}
		&nbsp;&middot;&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" -}}
	{{- end -}}
{{- end }}
	{{- if not .Site.Params.hideAuthor -}}
		{{- if .Params.author -}}
		{{- if reflect.IsSlice .Params.author -}}
			{{- range .Params.author -}}
			&nbsp;&middot;&nbsp;{{ . | safeHTML -}}
		{{ end -}}
		{{ else -}}
			&nbsp;&middot;&nbsp;{{ .Params.author | safeHTML -}}
		{{ end -}}
		{{ else -}}
			&nbsp;&middot;&nbsp;{{ .Site.Author.name | safeHTML -}}
		{{ end -}}
	{{- end -}}
{{- if and .Params.tags .Site.Params.metaTags -}}
{{- $tagsLen := len .Params.tags -}}
{{- if gt $tagsLen 0 -}}
	<span class="blog-tags">&nbsp;&middot;&nbsp;{{ i18n "inTags" }}&nbsp;
	{{- range $key, $value := .Params.tags -}}
		{{- $url := printf "tags/%s/" (. | urlize | lower) -}}
		<a id="tag_{{ . | lower }}" href="{{ $url | absURL }}">{{ . }}</a>{{ if lt $key (sub $tagsLen 1) }},&nbsp;{{ end }}
	{{- end -}}
	</span>
{{- end -}}
{{- end }}
</div>
