<style>
	#theme {

	}
	#theme h1 {
		text-align: center;
	}
	#theme .container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		/*grid-gap: 5px;*/
		justify-items: center;
	}
	#theme .lable {
		width: 55px;
		display: inline-block;
		text-align: center;
		font-size: 13px;
		font-stretch: condensed;
	}
	#theme .box {
		width: 45px;
		height: 45px;
		border-radius: 4px;
		margin: 5px;
		display: inline-block;
		aspect-ratio: 1;
	}
	#theme button {
		font-size: 14px;
		margin: 5px 0;
	}
</style>
<h1>Colors</h1>
<div id="theme">
	<h1>Colors</h1>
	<div class="container">
		<span class=lable>cornflower</span>
		<span class=lable>amethyst</span>
		<span class=lable>fuchsia</span>
		<span class=lable>violet</span>
		<span class=lable>vermilion</span>
		<span class=lable>ocher</span>
		<span class=lable>amber</span>
		<span class=lable>dandelion</span>
		<span class=lable>chartreuse</span>
		<span class=lable>emerald</span>
		<span class=lable>caribbean</span>
		<span class=lable>turquoise</span>
		<span class=lable>cerulean</span>

		<div class="box bg-light-cornflower"></div>
		<div class="box bg-light-amethyst"></div>
		<div class="box bg-light-fuchsia"></div>
		<div class="box bg-light-violet"></div>
		<div class="box bg-light-vermilion"></div>
		<div class="box bg-light-ocher"></div>
		<div class="box bg-light-amber"></div>
		<div class="box bg-light-dandelion"></div>
		<div class="box bg-light-chartreuse"></div>
		<div class="box bg-light-emerald"></div>
		<div class="box bg-light-caribbean"></div>
		<div class="box bg-light-turquoise"></div>
		<div class="box bg-light-cerulean"></div>

		<div class="box bg-cornflower"></div>
		<div class="box bg-amethyst"></div>
		<div class="box bg-fuchsia"></div>
		<div class="box bg-violet"></div>
		<div class="box bg-vermilion"></div>
		<div class="box bg-ocher"></div>
		<div class="box bg-amber"></div>
		<div class="box bg-dandelion"></div>
		<div class="box bg-chartreuse"></div>
		<div class="box bg-emerald"></div>
		<div class="box bg-caribbean"></div>
		<div class="box bg-turquoise"></div>
		<div class="box bg-cerulean"></div>

		<div class="box bg-dark-cornflower"></div>
		<div class="box bg-dark-amethyst"></div>
		<div class="box bg-dark-fuchsia"></div>
		<div class="box bg-dark-violet"></div>
		<div class="box bg-dark-vermilion"></div>
		<div class="box bg-dark-ocher"></div>
		<div class="box bg-dark-amber"></div>
		<div class="box bg-dark-dandelion"></div>
		<div class="box bg-dark-chartreuse"></div>
		<div class="box bg-dark-emerald"></div>
		<div class="box bg-dark-caribbean"></div>
		<div class="box bg-dark-turquoise"></div>
		<div class="box bg-dark-cerulean"></div>

		<span class=lable>pure white</span>
		<span class=lable>white</span>
		<span class=lable>100</span>
		<span class=lable>200</span>
		<span class=lable>300</span>
		<span class=lable>400</span>
		<span class=lable>500</span>
		<span class=lable>600</span>
		<span class=lable>700</span>
		<span class=lable>800</span>
		<span class=lable>900</span>
		<span class=lable>black</span>
		<span class=lable>pure black</span>

		<div class="box bg-pure-white"></div>
		<div class="box bg-white"></div>
		<div class="box bg-100"></div>
		<div class="box bg-200"></div>
		<div class="box bg-300"></div>
		<div class="box bg-400"></div>
		<div class="box bg-500"></div>
		<div class="box bg-600"></div>
		<div class="box bg-700"></div>
		<div class="box bg-800"></div>
		<div class="box bg-900"></div>
		<div class="box bg-black"></div>
		<div class="box bg-pure-black"></div>
	</div>

	<h1>Button</h1>
	<div class="container">
		<button class="btn-cornflower">btn</button>
		<button class="btn-amethyst">btn</button>
		<button class="btn-fuchsia">btn</button>
		<button class="btn-violet">btn</button>
		<button class="btn-vermilion">btn</button>
		<button class="btn-ocher">btn</button>
		<button class="btn-amber">btn</button>
		<button class="btn-dandelion">btn</button>
		<button class="btn-chartreuse">btn</button>
		<button class="btn-emerald">btn</button>
		<button class="btn-caribbean">btn</button>
		<button class="btn-turquoise">btn</button>
		<button class="btn-cerulean">btn</button>
	</div>
	<h1>Button Outlined</h1>
	<div class="container">
		<button class="btn-outlined-cornflower">btn</button>
		<button class="btn-outlined-amethyst">btn</button>
		<button class="btn-outlined-fuchsia">btn</button>
		<button class="btn-outlined-violet">btn</button>
		<button class="btn-outlined-vermilion">btn</button>
		<button class="btn-outlined-ocher">btn</button>
		<button class="btn-outlined-amber">btn</button>
		<button class="btn-outlined-dandelion">btn</button>
		<button class="btn-outlined-chartreuse">btn</button>
		<button class="btn-outlined-emerald">btn</button>
		<button class="btn-outlined-caribbean">btn</button>
		<button class="btn-outlined-turquoise">btn</button>
		<button class="btn-outlined-cerulean">btn</button>
	</div>
</div>
