<a href="https://www.mozilla.org/en-US/firefox/new/" title="FREE Microsoft Internet Explorer">
	<img src="/badges/ie_animated.gif" alt="FREE Microsoft Internet Explorer">
</a>
<img src="/badges/gay_cat.png" alt="this cat is gay" title="this cat is gay">
<img src="/badges/foxfoxfox.png" alt="fox fox fox fox fox" title="fox fox fox fox fox">
<img src="/badges/notepadpp3.gif" alt="Made with notepad++" title="Made with notepad++">
<img src="/badges/javanow.gif" alt="Java get it now" title="Java get it now">
<img src="/badges/winamp6.gif" alt="Built listening to WINAMP" title="Built listening to WINAMP">
