		<a href="https://www.mozilla.org/en-US/firefox/new/" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/ie_animated.gif" alt="FREE Microsoft Internet Explorer" title="FREE Microsoft Internet Explorer"/>
		</a>
		<img height="31" width="80" loading="lazy" src="/badges/gay_cat.png" alt="this cat is gay" title="this cat is gay"/>
		<!--<img height="31" width="80" loading="lazy" src="/badges/foxfoxfox.png" alt="fox fox fox fox fox" title="fox fox fox fox fox"/>-->
		<img height="31" width="88" loading="lazy" src="/badges/timeout.gif" alt="timeout"/>
		<a href="https://casavaga.com" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/casavaga.gif" alt="casavaga" title="My lemmy instance"/>
		</a>
		<!--<img height="31" width="88" loading="lazy" src="/badges/notepadpp3.gif" alt="made with notepad++"/>-->
		<!--<img height="31" width="88" loading="lazy" src="/badges/javanow.gif" alt="java get it now"/>-->
		<!--<img height="31" width="88" loading="lazy" src="/badges/winamp6.gif" alt="built listening to winamp"/>-->
		<a href="https://cyber.dabamos.de/88x31" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/88x31.gif" alt="88x31" title="baaaadges"/>
		</a>
		<img height="31" width="88" loading="lazy" src="/badges/acab.gif" alt="acab" title="fuck the cops"/>
		<a href="https://archlinux.org" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/archlinux.gif" alt="arch linux" title="i use arch btw"/>
		</a>
		<img height="31" width="88" loading="lazy" src="/badges/anarchynow.gif" alt="anarchy now"/>
		<img height="31" width="88" loading="lazy" src="/badges/queer.png" alt="queer pride"/>
		<img height="31" width="88" loading="lazy" src="/badges/nocookie.gif" alt="this site is certified 100% cookie free!"/>
		<img height="31" width="88" loading="lazy" src="/badges/free.png" alt="free palastine"/>
		<a href="https://yesterweb.org/no-to-web3/" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/noweb32.gif" alt="no web 3"/>
		</a>
		<img height="31" width="88" loading="lazy" src="/badges/nacl.png" alt="nacl"/>
		<img height="31" width="105" loading="lazy" src="/badges/cat.gif" alt="cat"/>
		<img height="31" width="88" loading="lazy" src="/badges/slugcat.png" alt="slugcat"/>
		<img height="31" width="88" loading="lazy" src="/badges/piracy.gif" alt="piracy now" title="piracy is swag and you should do it"/>
		<a href="https://web3isgoinggreat.com/glossary#nft" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/nft.gif" alt="nfts" title="web 3 is going to be so amazing you guys i cannot wait"/>
		</a>
		<img height="31" width="88" loading="lazy" src="/badges/upallnight.gif" alt="up all night" title="no sleep"/>
		<img height="31" width="88" loading="lazy" src="/badges/tyg.gif" alt="trans your gender" title="hehe haha"/>
		<!--<img height="31" width="88" loading="lazy" src="/badges/winrar.gif" alt="get winrar"/>-->
		<!--<img height="31" width="88" loading="lazy" src="/badges/shockwave.gif" alt="get shockwave" title="yeah you need shockwave to view this"/>-->
		<img height="31" width="88" loading="lazy" src="/badges/propaganda.gif" alt="propaganda" title="filled to the brim"/>
		<!--<img height="31" width="88" loading="lazy" src="/badges/noescapenow.gif" alt="no escape now" title="it's too late"/>-->
		<img height="31" width="88" loading="lazy" src="/badges/ai-free.png" alt="ai free" title="Get that shi outta heeeer"/>
		<a href="https://foxthing.neocities.org/shrine/br" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/thefoxden-br.png" alt="foxthing.neocities" title="t h e b a c k r o o m s"/>
		</a>
		<a href="https://goblin-heart.net/sadgrl/" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/sadgrlonline.gif" alt="sadgrl.online" title="just a sad girl">
		</a>
		<a href="https://yesterweb.org/" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/yesterweb.png" alt="yesterweb" title="lets bring the old back">
		</a>
		<a href="https://aeriecat.space/" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/aeriecat.space.png" alt="" title="">
		</a>
		<a href="https://www.tracktranslegislation.com/" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/transnow2.gif" alt="" title="">
		</a>
		<a href="https://nixos.org/" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/nixos.png" alt="nixos linux" title="god it feels good to be better"/>
		</a>
		<a href="https://anhack.xyz" rel="noreferrer" target="_blank">
			<img height="31" width="88" loading="lazy" src="/badges/anhack.xyz.png" alt="anhack.xyz" title="alex's personal blog of shits and giggles'"/>
		</a>


