<a href="https://www.mozilla.org/en-US/firefox/new/" rel="noreferrer" target="_blank">
			<img src="/badges/ie_animated.gif" alt="FREE Microsoft Internet Explorer" title="FREE Microsoft Internet Explorer">
		</a>
		<img src="/badges/gay_cat.png" alt="this cat is gay" title="this cat is gay">
		<img src="/badges/foxfoxfox.png" alt="fox fox fox fox fox" title="fox fox fox fox fox">
		<img src="/badges/timeout.gif" alt="timeout">
		<a href="https://casavaga.com" rel="noreferrer" target="_blank">
			<img src="/badges/casavaga.gif" alt="casavaga" title="My lemmy instance">
		</a>
		<img src="/badges/notepadpp3.gif" alt="made with notepad++">
		<img src="/badges/javanow.gif" alt="java get it now">
		<img src="/badges/winamp6.gif" alt="built listening to winamp">
		<a href="https://cyber.dabamos.de/88x31" rel="noreferrer" target="_blank">
			<img src="/badges/88x31.gif" alt="88x31" title="baaaadges">
		</a>
		<img src="/badges/acab.gif" alt="acab" title="fuck the cops">
		<a href="https://archlinux.org" rel="noreferrer" target="_blank">
			<img src="/badges/archlinux.gif" alt="arch linux" title="i use arch btw">
		</a>
		<img src="/badges/anarchynow.gif" alt="anarchy now">
		<img src="/badges/nonbinary.png" alt="non-binary pride">
		<img src="/badges/queer.png" alt="queer pride">
		<img src="/badges/nacl.png" alt="nacl">
		<img src="/badges/cat.gif" alt="cat" width="88px" height="31px">
		<img src="/badges/slugcat.png" alt="slugcat">
		<img src="/badges/piracy.gif" alt="piracy now" title="piracy is swag and you should do it">
