@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-ExtraLight.ttf');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-ExtraLightItalic.ttf');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-Light.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-SemiBoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-ExtraBold.ttf');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-ExtraBoldItalic.ttf');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-Black.ttf');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans";
	src: url('/fonts/Noto-Sans/NotoSans-BlackItalic.ttf');
	font-weight: 900;
	font-style: italic;
}
