
$base-font-size: 17px;
$background: #252525;
$text: #fff;
$dark-text: #999;

$selection-background: #4a4a4a;
$selection-text: #fff;

$anchor-link: #40b7ff;
$anchor-visited: #9e84ff;
$anchor-active: #f75659;
