		{{- $has_subtitle := and (isset .Params "subtitle") (ne .Params.subtitle "") -}}
		
		{{ $subtitle_plain := "" -}}
		{{ if $has_subtitle }}{{ $subtitle_plain = .Params.subtitle | safeHTML }}{{ end -}}
		
		{{ $title_plain := "" -}}
		{{ if .IsHome -}}
			{{ $title_plain = .Site.Title | markdownify | plainify -}}
		{{ else if $has_subtitle -}}
			{{ $title_plain = printf "%s" .Site.Title | printf "%s | %s" ($subtitle_plain | truncate 40) | printf "%s | %s" (.Title | title) | printf "%s" -}}
		{{ else -}}
			{{ $title_plain = printf "%s" .Site.Title | printf "%s | %s" (.Title | title) | printf "%s" | markdownify | plainify -}}
		{{ end -}}
		
		{{ $description_plain := "" -}}
		{{ with .Params.description -}}
			{{ $description_plain = . | markdownify | plainify -}}
		{{ else -}}
			{{ $description_plain = .Summary | markdownify | plainify -}}
		{{ end }}
		<title>{{ $title_plain }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta name="Description" content="{{ $description_plain }}">
		
		{{ $options := dict "transpiler" "libsass" "targetPath" "css/style.css" -}}
		{{ with resources.Get "scss/main.scss" | toCSS $options | minify | fingerprint -}}
			<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
		{{ end -}}
		
		<link rel="icon" type="image/png" sizes="128x128" href="{{ "img/favicon-128x128.png" | relURL }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ "img/favicon-64x64.png" | relURL }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ "img/favicon-32x32.png" | relURL }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ "img/favicon-16x16.png" | relURL }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ "img/favicon.ico" | relURL }}">

		<meta name="robots" content="noindex">
