<nav><div>
	<div id="logo-banner">
		<img id="logo-fallback" loading="lazy" height="56" src="/img/logo-light.png" alt="logo" /><img id="logo-image" height="0" src="/img/logo.png" alt="logo" />
	</div>
	<ul>
	{{- $sec := .Page.Section -}}
	{{- $file := "" -}}
	{{- with .File }}{{ $file = .TranslationBaseName }}{{ end -}}
	{{ range.Site.Menus.main.ByWeight }}{{ $base := path.Base .URL }}
		<li><a {{ if or ( eq $sec $base ) ( eq $file $base ) ( and (eq $sec "") ( eq $file "_index") (eq $base "/") ) }}class="menuactive" {{ end }}href="{{ .URL }}"><span class="pre">{{ .Pre }}</span><span class="menuname">{{ .Name }}</span></a></li>
	{{- end }}
	</ul>
</div></nav>