{{- $dateTime    := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format    -}}
{{- $lastmodTime := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format -}}
<!-- Match non number characters and add separator class -->
{{- $dateTimeFormatted    := (replaceRE `[^0-9]+` "<span class='ds'>$0</span>"  $dateTime)    -}}
{{- $lastmodTimeFormatted := (replaceRE `[^0-9]+` "<span class='dsm'>$0</span>" $lastmodTime) -}}

<div class="post-meta">
	<time class="post-date" itemprop="datePublished" datetime="{{ "2006-01-02" | .Date.Format }}">{{ $dateTimeFormatted | i18n "postedOnDate" | safeHTML }}</time>
	{{- if ne $dateTime $lastmodTime -}}
		&nbsp;<time class="post-last-modified" itemprop="dateModified" datetime="{{ "2006-01-02" | .Date.Format }}">{{ $lastmodTimeFormatted | i18n "lastModified" | safeHTML }}</time>
	{{- end -}}
{{ if ne .WordCount 0 -}}
	{{ if .Site.Params.readingTime -}}
		&nbsp;&middot;&nbsp;<span class="post-reading-time">{{ .ReadingTime }}&nbsp;{{ i18n "readTime" .ReadingTime }}&nbsp;{{ i18n "toRead" }}</span>
	{{- end -}}
	{{- if .Site.Params.wordCount -}}
		&nbsp;&middot;&nbsp;<span class="post-word-count">{{ .WordCount }}&nbsp;{{ i18n "words" .WordCount }}</span>
	{{- end -}}
{{- end }}
{{- if not .Site.Params.hideAuthor -}}
	{{- if .Params.author -}}
		{{- if reflect.IsSlice .Params.author -}}
			&nbsp;&middot;&nbsp;{{ i18n "authoredBy" }}&nbsp;
			{{- range .Params.author -}}
				<span class="author-name" itemprop="author">{{ . | safeHTML }},&nbsp;</span>
			{{- end -}}
		{{- else -}}
			&nbsp;&middot;&nbsp;{{ i18n "authoredBy" }}&nbsp;<span class="author-name" itemprop="author">{{ .Params.author | safeHTML }}</span>
		{{- end -}}
	{{- else -}}
		&nbsp;&middot;&nbsp;{{ i18n "authoredBy" }}&nbsp;<span class="author-name" itemprop="author">{{ .Site.Author.name | safeHTML }}</span>
	{{- end -}}
{{- end -}}
{{- if and .Params.tags (not .Site.Params.hideTags) -}}
{{- $tagsLen := len .Params.tags -}}
{{- if gt $tagsLen 0 -}}
	&nbsp;&middot;&nbsp;{{ i18n "inTags" }}&nbsp;<span class="post-tags" itemprop="keywords">
	{{- range $key, $value := .Params.tags -}}
		{{- $url := printf "/tags/%s/" (. | urlize | lower) -}}
		<span class="tag"><a id="tag_{{ . | lower }}" href="{{ $url }}">{{ . }}</a>{{ if lt $key (sub $tagsLen 1) }},&nbsp;{{ end }}</span>
	{{- end -}}
	</span>
{{- end -}}
{{- end -}}
</div>