#halftone-plate {
	display: none;
}
/*nav {
	display: none;
}*/
nav ul {
	display: none;
}
#logo-banner #logo-image {
	content: url("/img/logo-light.png");
}
#nextprev {
	display: none;
}
footer {
	display: none;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active,
body.light-theme a,
body.light-theme a:link,
body.light-theme a:visited,
body.light-theme a:focus,
body.light-theme a:hover,
body.light-theme a:active {
	color: #000;
	text-decoration: underline;
}
article a:after {
	width: initial;
	height: initial;
	margin: 0;
}
main a:not(.heading-link):after {
	content: " (" attr(href) ") ";
}
a.post-read-more:after {
	content: " (" attr(href) ") ";
}